<template>
  <section class="k-demo-section">
    <header class="k-section-header">
      <label class="k-headline">Actualités externes</label>
      <p class="k-text-blank" v-if="news.length === 0">
        Pas d'actualités externes liées à ce projet.
      </p>
    </header>
    <div class="k-grid">
      <div class="k-column">
        <div v-if="news.length === 0" class="k-text-empty">
          <a class="k-link-empty" href="/panel/pages/communaute+agenda"
            >Aller à l'agenda</a
          >
        </div>
        <ul class="k-list">
          <li v-for="item in news" class="k-text">
            <a :href="item.panelUrl" class="link">
              <p class="k-link">
                {{ item.title }}
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      news: [],
      pageUid: null,
    };
  },
  methods: {
    removeUnreferencedNews: function () {
      const newsArray = Object.values(this.news);
      const body = JSON.stringify({
        news: newsArray,
        pageUid: this.pageUid,
      });

      fetch("/remove-unreferenced-news.json", {
        method: "POST",
        body: body,
      })
        .then((res) => {
          return res.json();
        })
        .then((json) => {
          if (json.news) {
            this.news = json.news;
          }
        });
    },
  },
  created() {
    this.load().then((response) => {
      this.news = response.news;
      this.pageUid = response.pageUid;
      this.removeUnreferencedNews();
    });
  },
};
</script>

<style scoped>
.k-section-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.k-headline {
  position: relative;
  display: flex;
  align-items: baseline;
  padding: 0 0 0.75rem;
}

.k-text-blank {
  display: flex;
  width: 100%;
  background-color: transparent;
  color: var(--color-gray-600);
  font-family: var(--font-sans);
  font-size: var(--text-sm);
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: var(--rounded);
  color: var(--color-gray-600);
  border: 1px dashed var(--color-border);
}

.k-text-empty {
  display: flex;
  width: fit-content;
  color: var(--color-gray-800);
  font-family: var(--font-sans);
  font-size: var(--text-sm);
  font-weight: 400;
  padding-left: 0.5rem;
  line-height: var(--line-height);
}

.k-link-empty {
  background-color: transparent;
  color: var(--color-gray-600);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  padding: var(--padding-y) var(--padding-x);
}

.k-link-empty::before {
  content: "→";
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--color-gray-900);
  border-radius: 1em;
  margin-right: 0.5rem;
  font-weight: 700;
  color: var(--color-gray-800);
}

.k-link-empty:hover {
  color: var(--color-gray-800);
}

.k-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.k-text {
  border-radius: var(--rounded);
  padding: var(--field-input-padding);
  height: 38px;
  box-shadow: var(--shadow);
  background-color: var(--color-white);
}

.link {
  text-decoration: none !important;
  font-size: var(--text-sm);
  font-weight: 400;
  white-space: nowrap;
  line-height: 1;
  color: inherit;
  margin-bottom: 0;
}
</style>
