<template>
  <div>
    <k-headline size="large">Créer ou sélectionner une fiche actu</k-headline>
    <div class="k-grid">
      <div class="k-column" data-width="1/2">
        <k-text-field
          v-model="text"
          name="text"
          label="Créer"
          placeholder="Nom de la fiche"
          data-size="1/2"
        />
      </div>
      <div class="k-column" data-width="1/2">
        <k-pages-field :endpoints="endpoints" />
        <!-- <k-multiselect-field
          v-model="pages"
          :options="options"
          label="Sélectionner"
          name="actu"
        /> -->
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
const props = defineProps({
  query: String,
});

const pages = ref([]);
const text = ref("");
const options = [
  {
    text: "text",
    value: "value",
  },
];

console.log(props);

const endpoints = {
  field: "/pages/missions",
  section: "/pages/missions",
  model: "/pages/missions",
};
</script>

<style lang="scss" scoped></style>
