<template>
  <div class="k-inherited-template">
    <header class="k-field-header">
      <k-headline size="large"> </k-headline>
    </header>

    <div class="k-grid">
      <div v-if="categories.length === 0" class="k-column">
        <div
          class="k-column k-box"
          data-theme="info"
          v-if="categories.length === 0"
        >
          <p class="k-text">
            Pas de catégories héritées. Vous pouvez en ajouter depuis l'onglet
            <a
              :href="propertiesUrl"
              title="aller aux propriétés du répertoire parent"
              >PROPRIETE</a
            >
            du répertoire parent.
          </p>
        </div>
      </div>
      <div
        v-else
        class="k-column"
        v-for="category in categories"
        data-width="1/2"
      >
        <k-tags-field
          v-model="category.value"
          :label="category.name"
          :name="category.name"
          :options="category.tags"
          :required="true"
          @input="emitMetadata()"
        />
      </div>
      <div class="k-column">
        <k-line-field />
      </div>
      <div class="k-column k-box" data-theme="info" v-if="fields.length === 0">
        <p class="k-text">
          Pas champs libres héritées. Vous pouvez en ajouter depuis l'onglet
          <a
            :href="propertiesUrl"
            title="aller aux propriétés du répertoire parent"
            >PROPRIETE</a
          >
          du répertoire parent.
        </p>
      </div>
      <div v-else class="k-column" v-for="field in fields" data-width="1/2">
        <k-writer-field
          v-model="field.value"
          :label="field.label"
          :marks="['link']"
          :nodes="false"
          @input="emitMetadata()"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, ref } from "vue";

let { value, inheritedCategories, inheritedFields, propertiesUrl } =
  defineProps({
    inheritedCategories: Array,
    inheritedFields: Array,
    value: Array,
    propertiesUrl: String,
  });

function syncArrays(inheritedArray, valueArray, key = "name") {
  if (!valueArray || valueArray.length === 0) return [...inheritedArray];

  const updatedArray = inheritedArray.map((inheritedItem) => {
    const matchingValueItem = valueArray.find((valueItem) => {
      if (valueItem[key] === inheritedItem[key]) {
        valueItem.tags = inheritedItem.tags;
      }
      if (!valueItem.value) {
        valueItem.value = [];
      }
      return valueItem[key] === inheritedItem[key];
    });

    return matchingValueItem
      ? { ...inheritedItem, ...matchingValueItem }
      : inheritedItem;
  });

  return updatedArray;
}

const categories = ref(syncArrays(inheritedCategories, value.categories));
const fields = ref(syncArrays(inheritedFields, value.fields, "label"));

categories.value.forEach((category) => {
  console.log("value", category.value);
  console.log("name", category.name);
});

const emit = defineEmits("input");

const isFullyEmpty = computed(() => {
  return inheritedCategories.length === 0;
});

function emitMetadata() {
  emit("input", {
    categories: categories.value,
    fields: fields.value,
  });
}
</script>

<style scoped>
.k-headline {
  margin-bottom: 2rem;
}
.k-column {
  margin-bottom: 1rem;
}
</style>
