.wrapper[data-v-25545a88]{color:#1e3039;border:1px solid var(--color-grey-light);border-radius:1.25rem;padding:1rem}img[data-v-25545a88]{border-radius:.625rem .625rem 0rem 0rem;width:100%;height:100%;object-fit:cover}h5[data-v-25545a88]{margin:1.5rem 0;font-size:1.625rem;font-family:sans-serif;font-weight:600;line-height:110%}li[data-v-25545a88]{font-size:var(--font-size-5);font-weight:600;margin-bottom:.5rem}li span[data-v-25545a88]{font-weight:400}p[data-v-25545a88]{margin-top:1.25rem}
