<template>
  <li class="project round-border" :key="project.id">
    <a :href="project.url">
      <div class="project__infos">
        <div class="presentation">
          <h3>{{ project.title }}</h3>
          <div v-html="project.description"></div>
        </div>
        <ul class="tags">
          <Tag v-for="tag in project.tags" :tag="tag" />
        </ul>
      </div>
      <BlockImage class="project__image" :image="project.headerimage" />
    </a>
  </li>
</template>

<script setup>
import BlockImage from "./Blocks/BlockImage.vue"
import Tag from "./Tag.vue"
import YAML from "/node_modules/yaml"

const { project } = defineProps({
  project: Object,
})

project.tags = []
project.parsedMetadata = []

if (project.inheritedmetadata) {
  project.parsedMetadata = YAML.parse(project.inheritedmetadata)
  project.tags = project.parsedMetadata.collection.flatMap((item) => item.value)
}
</script>

<style scoped>
.project {
  width: calc(100% - 8rem);
  margin-bottom: 1.25rem;
  background-color: var(--color-white);
}
.project,
.project .tag {
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
.project:hover {
  background-color: var(--color-green-light-5);
  border-color: var(--color-green-light-1);
}
.project:hover .tag {
  background-color: #fff;
  outline: 1px solid #000;
}
.project a {
  display: flex;
  justify-content: space-between;
}
.project__infos,
.project__image {
  width: 48.5%;
}
.project__infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tags {
  display: flex;
}
</style>
