<template>
  <section
    class="k-models-section k-models-section k-section k-section-name-home"
    v-if="unpublishedCards.length > 0"
  >
    <header class="k-section-header">
      <h2 class="k-headline">Fiches non publiées</h2>
    </header>
    <div data-theme="help" class="k-field-help k-text">
      <p>
        Brouillons de fiches, événements expirés (à supprimer manuellement si
        besoin), fiches ajoutées par les visiteurs (à vérifier avant de publier
        ou de supprimer).
      </p>
    </div>
    <div class="k-dropzone">
      <div class="k-collection">
        <div
          class="k-draggable k-items k-list-items"
          data-layout="list"
          data-size="auto"
        >
          <article
            v-for="card in unpublishedCards"
            data-has-figure="true"
            data-has-flag="true"
            data-has-options="true"
            tabindex="-1"
            :data-id="card.id"
            data-status="draft"
            data-template="card"
            class="k-item k-list-item"
          >
            <header class="k-item-content">
              <h3 class="k-item-title">
                <a
                  :href="'/panel/pages/' + card.uri.replaceAll('/', '+')"
                  class="k-link k-item-title-link"
                  ><span>{{ card.content.title }}</span></a
                >
              </h3>
            </header>
            <footer class="k-item-footer">
              <nav class="k-item-buttons">
                <button
                  data-theme="negative"
                  title="Statut: Brouillon"
                  type="button"
                  class="k-button k-status-icon k-status-icon-draft"
                >
                  <span
                    aria-label="Statut: Brouillon"
                    role="img"
                    class="k-button-icon k-icon k-icon-circle-outline"
                    ><svg viewBox="0 0 16 16">
                      <use xlink:href="#icon-circle-outline"></use></svg
                  ></span></button
                ><span
                  class="k-dropdown k-options-dropdown k-item-options-dropdown"
                  ><button
                    title="Options"
                    type="button"
                    class="k-button k-options-dropdown-toggle"
                  >
                    <span
                      aria-label="Options"
                      role="img"
                      class="k-button-icon k-icon k-icon-dots"
                      ><svg viewBox="0 0 16 16">
                        <use xlink:href="#icon-dots"></use></svg
                    ></span></button
                ></span>
              </nav>
            </footer>
          </article>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      unpublishedCards: [],
    };
  },
  created() {
    this.load().then((response) => {
      this.unpublishedCards = response.unpublishedCards;
    });
  },
};
</script>

<style scoped>
h2 {
  margin-bottom: 0;
}

.k-field-help {
  margin-bottom: 1rem;
}
.k-item-footer {
  display: none;
}
</style>
