<template>
  <div class="wrapper" ref="wrapper">
    <img
      v-if="content.image[0]"
      :src="content.image[0].url"
      alt=""
      :style="'max-height: ' + height"
    />
    <h5 v-if="content.title.length > 0">{{ content.title }}</h5>
    <ul v-if="content.metadata.length > 0">
      <li v-for="metadata in content.metadata">
        {{ metadata.key }} :
        <span v-for="(value, index) in metadata.values"
          >{{ value
          }}{{ index === metadata.values.length - 1 ? "" : ", " }}</span
        >
      </li>
    </ul>
    <p>{{ content.description }}</p>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";

const props = defineProps();

const wrapper = ref(null);
const height = ref(null);
onMounted(() => {
  height.value = wrapper.value.offsetWidth / 2 + "px";
});
</script>

<style scoped>
.wrapper {
  color: #1e3039;
  border: 1px solid var(--color-grey-light);
  border-radius: 1.25rem;
  padding: 1rem;
}
img {
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h5 {
  margin: 1.5rem 0;
  font-size: 1.625rem;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 110%;
}

li {
  font-size: var(--font-size-text-5);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

li span {
  font-weight: 400;
}

p {
  margin-top: 1.25rem;
}
</style>
