/* column */

.col-1 {
  width: var(--col-1);
}
.col-2 {
  width: var(--col-2);
}
.col-3 {
  width: var(--col-3);
}
.col-4 {
  width: var(--col-4);
}

/* class */
.hidden {
  display: none !important;
}
.no-scroll {
  overflow: hidden;
}

.round-border {
  border: var(--border) solid var(--color-grey-light);
  border-radius: var(--border-radius-normal);
}

.no-padding {
  padding: 0 !important;
}

.no-margin,
.no-margin * {
  margin: 0 !important;
}

/* block */

.block {
  margin-bottom: var(--margin-block); /* 32px */
}

/* input */

input,
input:focus,
input:focus-visible {
  font-family: "Open-sans", sans-serif;
  color: var(--color-blue-dark-1);
  font-size: var(--font-size-text-3);
  border: var(--border) solid var(--color-grey-light);
  border-radius: var(--border-radius-small);
  padding: var(--padding-button-vertical) var(--padding-button-horizontal);
  background-color: var(--color-white);
  transition: var(--transition);
}

input::placeholder {
  color: var(--color-grey-dark);
}

input:hover,
input:focus-visible {
  border-color: var(--color-blue-dark-1);
  outline: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* textarea */

textarea,
textarea:focus {
  font-family: "Open-sans", sans-serif;
  color: var(--color-blue-dark-1);
  font-size: var(--font-size-text-3);
  border: var(--border) solid var(--color-grey-light);
  border-radius: var(--border-radius-small);
  padding: var(--padding-button-vertical) var(--padding-button-horizontal);
  background-color: var(--color-white);
  resize: none;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--color-grey-light) transparent;
  transition: var(--transition);
}

textarea:hover,
textarea:focus-visible {
  border-color: var(--color-blue-dark-1);
  outline: none;
}

/* toogle */

.toggle {
  position: relative;
  display: inline-block;
  width: calc(var(--button-icon-size-x-large) * 2); /* 60px */
  height: var(--button-icon-size-x-large); /* 30px */
  cursor: pointer;
  border-radius: var(--border-radius-round);
  box-shadow: 0 0 0 var(--border) var(--color-grey-light);
  transition: var(--transition);
}

.toggle:hover {
  box-shadow: 0 0 0 var(--border) var(--color-grey-dark);
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--color-white);
  background-color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.slider:before {
  position: absolute;
  height: var(--button-icon-size-normal); /* 20px */
  width: var(--button-icon-size-normal); /* 20px */
  border-radius: var(--border-radius-round);
  left: calc(
    calc(var(--button-icon-size-x-large) - var(--button-icon-size-normal)) / 2
  ); /* 5px */
  bottom: calc(
    calc(var(--button-icon-size-x-large) - var(--button-icon-size-normal)) / 2
  ); /* 5px */
  background-color: var(--color-grey-dark);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

input:checked + .slider {
  background-color: transparent;
  border-radius: var(--border-radius-round);
  box-shadow: 0 0 0 var(--border) var(--color-grey-dark);
}

input:checked + .slider:before {
  background-color: var(--color-blue-dark-1);
  -webkit-transform: translateX(var(--button-icon-size-x-large)); /* 30px */
  -ms-transform: translateX(var(--button-icon-size-x-large)); /* 30px */
  transform: translateX(var(--button-icon-size-x-large)); /* 30px */
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

input + .slider::after,
input:checked + .slider::after {
  position: relative;
  left: calc(
    calc(var(--button-icon-size-x-large) * 2) + var(--padding-button-vertical)
  );
  height: auto;
  width: auto;
  color: var(--color-grey-dark);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-text-4);
  transition: var(--transition);
}

input:checked + .slider::after {
  color: var(--color-blue-dark-1);
}

/* button */

button,
.button,
a.button {
  cursor: pointer;
  display: flex;
  width: fit-content;
  font-family: "Open-sans", sans-serif;
  font-size: var(--font-size-text-3);
  font-weight: var(--font-weight-semi-bold);
  justify-content: center;
  align-items: center;
  padding: var(--padding-button-vertical) var(--padding-button-horizontal);
  gap: var(--padding-button-vertical);
  border: var(--border) solid transparent;
  border-radius: var(--border-radius-normal);
  color: var(--color-blue-dark-1);
  box-sizing: border-box;
  background-color: transparent;
  transition: var(--transition);
}

button::first-letter {
  text-transform: uppercase;
}

/* icon */

.arrow {
  width: 1.5rem;
  height: auto;
}

/* icon button */

button.empty,
.button.empty,
a.button.empty {
  padding: 0;
  padding-right: var(--padding-button-vertical);
  padding-left: var(--padding-button-vertical);
}

button img,
a.button img {
  width: var(--button-icon-size-normal);
  height: var(--button-icon-size-normal);
  padding: 3px;
}

/* button level */

.small,
button.small,
a.button.small {
  height: var(--button-size-small);
  font-size: var(--font-size-text-4);
}

button img.small,
a.button img.small {
  width: var(--button-icon-size-small);
  height: var(--button-icon-size-small);
}

.normal,
button.normal,
a.button.normal {
  height: var(--button-size-normal);
  font-size: var(--font-size-text-3);
}

button img.normal,
a.button img.normal {
  width: var(--button-icon-size-normal);
  height: var(--button-icon-size-normal);
}

.large,
button.large,
a.button.large {
  height: var(--button-size-large);
  font-size: var(--font-size-text-2);
}

button img.large,
a.button img.large {
  width: var(--button-icon-size-large);
  height: var(--button-icon-size-large);
}

/* button type */

.primary,
button.primary,
a.button.primary {
  background-color: var(--color-green-light-1);
}

.secondary,
button.secondary,
a.button.secondary {
  border: var(--border) solid var(--color-blue-dark-1);
}

.tertiary,
button.tertiary,
a.button.tertiary {
  border: none;
}

/* button hover */

.primary:hover,
button.primary:hover,
a.button.primary:hover {
  background-color: var(--color-green-light-2);
}

.secondary:hover,
button.secondary:hover,
a.button.secondary:hover {
  /* border-color: transparent; */
  background-color: var(--color-green-light-5);
}

.tertiary:hover,
button.tertiary:hover,
a.button.tertiary:hover {
  background-color: var(--color-green-light-5);
}

/* button active */

.primary:active,
button.primary:active,
a.button.primary:active {
  background-color: var(--color-green-light-3);
}

.secondary:active,
button.secondary:active,
a.button.secondary:active {
  /* border-color: transparent; */
  background-color: var(--color-green-light-4);
}

.tertiary:active,
button.tertiary:active,
a.button.tertiary:active {
  background-color: var(--color-green-light-4);
}

/* button focus-visible */

.primary:focus-visible,
button.primary:focus-visible,
a.button.primary:focus-visible {
  background-color: var(--color-green-light-2);
  outline: solid var(--outline) var(--color-blue-dark-1);
  outline-offset: calc(var(--outline) * 2);
}

.secondary:focus-visible,
button.secondary:focus-visible,
a.button.secondary:focus-visible {
  border-color: inherit;
  background-color: var(--color-green-light-5);
  outline: solid var(--outline) var(--color-blue-dark-1);
  outline-offset: calc(var(--outline) * 2);
}

.tertiary:focus-visible,
button.tertiary:focus-visible,
a.button.tertiary:focus-visible {
  background-color: var(--color-green-light-5);
  outline: solid var(--outline) var(--color-blue-dark-1);
  outline-offset: calc(var(--outline) * 2);
}

/* CTA */

a.cta,
button.cta {
  color: var(--color-green-light-4);
  background: var(--color-blue-dark-1);
  transition: var(--transition);
}

button.cta:hover {
  background: var(--color-blue-dark-2);
}

button.cta:active {
  color: var(--color-blue-dark-1);
  background: var(--color-green-light-4);
}

button.cta:focus-visible {
  border-color: inherit;
  background-color: var(--color-blue-dark-2);
  outline: var(--outline) solid var(--color-blue-dark-1);
  outline-offset: calc(var(--outline) * 2);
}

.button-wrapper {
  display: flex;
  position: relative;
  width: fit-content;
  height: var(--button-size-large);
  transition: var(--transition);
}

button.reinit::after {
  content: url("/assets/icons/reinit.svg");
}
