body {
  display: flex;
  flex-direction: column;
  margin: var(--margin-layout-top) var(--margin-layout-horizontal) var(--margin-layout-bottom) var(--margin-layout-horizontal);
  background-color: var(--color-background);
  min-height: calc(100vh - calc(var(--margin-layout-top) + var(--margin-layout-bottom)));
}

#app {
  display: flex;
  flex-direction: column;
  flex: auto;
}

#app h1 {
  margin-top: 0;
}

.col-2 .block:first-child,
.col-3 .block:first-child,
.col-4 .block:first-child {
  margin-top: 0;
}

.layout {
  flex: auto;
}

/* MOBILE & TABLET */

@media screen and (max-width: 800px) {

  .row {
    flex-direction: column;
  }

}