button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: var(--color-blue-dark-1);
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}

input,
input:focus-visible,
input:focus {
  all: unset;
  color: transparent;
}

hr {
  border: 0;
  border-top: var(--border) solid var(--color-blue-dark-1);
}
