@font-face {
  font-family: "Cairo";
  src: url("/assets/fonts/Cairo-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Open-sans";
  src: url("/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Open-sans-italic";
  src: url("/assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
}

html {
  font-family: "Open-sans", sans-serif;
  font-weight: var(--font-weight-regular);
  color: var(--color-blue-dark-1);
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cairo", sans-serif;
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-heading);
  margin: var(--margin-heading) 0 var(--margin-text) 0;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  text-transform: uppercase;
}

h1.hero {
  font-size: var(--font-size-hero);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

/* texts */

p {
  /* font-size: var(--font-size-text-3);
  font-weight: var(--font-weight-regular); */
  line-height: var(--line-height-text);
  margin-bottom: var(--margin-text);
}

.col-1.block--text,
.col-1.block--text p,
.col-1 > .block--text p {
  margin-right: var(--margin-text-col-1);
}

/* link */

.block a {
  display: inline-flex;
  color: var(--color-blue-dark-2);
  border-bottom: var(--border) solid var(--color-grey-light);
  transition: var(--transition);
}

.block a:hover {
  color: var(--color-blue-dark-1);
  border-color: var(--color-grey-dark);
  opacity: 100%;
}

.block a[href]::after {
  content: url(/assets/svg/arrow-right.svg);
  height: 1em;
  width: 1em;
  transform: scale(70%) translateY(2px) translateX(-2px);
  margin: 0 0.3em;
}

.block a[target]::after {
  rotate: -45deg;
  transform: scale(70%) translateY(0px) translateX(-8px);
}

/* figcaption */

figcaption {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-text-4);
  font-style: italic;
  margin-top: var(--margin-figcaption);
}

.font-size-4,
.font-size-4 * {
  font-size: var(--font-size-text-4) !important;
}

.project p {
  font-size: var(--font-size-text-4);
}

/* list */

article#description ul,
.block--text ul {
  margin-left: var(--space-02);
  padding-left: var(--space-01);
}

article#description li,
.block--text li {
  list-style-type: initial;
}
