:root {
  /* colors */

  --color-white: #fff;
  --color-background: #fafafa;

  --color-grey-light: #cecece;
  --color-grey-dark: #5f5e5e;

  --color-blue-dark-1: #1e3039;
  --color-blue-dark-2: #304c5a;

  --color-green-light-1: #61c6a1;
  --color-green-light-2: #87d4b7;
  --color-green-light-3: #bfe8d9;
  --color-green-light-4: #d0f9ea;
  --color-green-light-5: #e7f7f1;
  --color-error: #e64949;

  /* font family */

  --font-family-title: "Cairo";
  --font-family-text: "Open-sans";

  /* font size */

  --font-size-scale: 1.25;

  --font-size-base-text: 1.125rem; /* 18px */

  --font-size-number: calc(var(--font-size-text-1) * var(--font-size-scale));

  --font-size-text-1: calc(
    var(--font-size-text-2) * var(--font-size-scale)
  ); /* 28.1px*/
  --font-size-text-2: calc(
    var(--font-size-text-3) * var(--font-size-scale)
  ); /* 22.5px */
  --font-size-text-3: var(--font-size-base-text); /* 18px */
  --font-size-text-4: calc(
    var(--font-size-text-3) / var(--font-size-scale)
  ); /* 14.4px */
  --font-size-text-5: calc(
    var(--font-size-text-4) / var(--font-size-scale)
  ); /* 11.5px */

  --font-size-base-heading: 2.5rem; /* 40px */

  --font-size-home: 5.55vw; /* 80px for 1440px width */
  --font-size-hero: calc(
    calc(var(--font-size-h1) * var(--font-size-scale)) * var(--font-size-scale)
  ); /* 97.7px */
  --font-size-h1: calc(
    var(--font-size-h2) * var(--font-size-scale)
  ); /* 62.5px */
  --font-size-h2: calc(var(--font-size-h3) * var(--font-size-scale)); /* 50px */
  --font-size-h3: calc(var(--font-size-base-heading) * 1); /* 40px */
  --font-size-h4: calc(var(--font-size-h3) / var(--font-size-scale)); /* 32px */
  --font-size-h5: calc(
    var(--font-size-h4) / var(--font-size-scale)
  ); /* 25.6px */
  --font-size-h6: calc(
    var(--font-size-h5) / var(--font-size-scale)
  ); /* 20.48px */

  /* font weight */

  --font-weight-regular: 375;
  --font-weight-semi-bold: 450;
  --font-weight-bold: 600;

  /* line height */

  --line-height-heading: 1.1;
  --line-height-text: 1.6;
  --line-height-list: 1.3;

  /* spacing */

  --space-base: 0.5rem; /* 8px */

  --space-00: 0;
  --space-01: calc(var(--space-base) * 1); /* 8px */
  --space-02: calc(var(--space-base) * 2); /* 16px*/
  --space-03: calc(var(--space-base) * 3); /* 24px*/
  --space-04: calc(var(--space-base) * 4); /* 32px*/
  --space-05: calc(var(--space-base) * 5); /* 40px*/
  --space-06: calc(var(--space-base) * 6); /* 48px*/
  --space-07: calc(var(--space-base) * 7); /* 56px*/
  --space-08: calc(var(--space-base) * 8); /* 64px*/
  --space-09: calc(var(--space-base) * 9); /* 72px*/
  --space-10: calc(var(--space-base) * 10); /* 80px*/
  --space-11: calc(var(--space-base) * 11); /* 88px*/
  --space-12: calc(var(--space-base) * 12); /* 96px*/
  --space-13: calc(var(--space-base) * 13); /* 104px*/
  --space-14: calc(var(--space-base) * 14); /* 112px*/
  --space-15: calc(var(--space-base) * 15); /* 120px*/
  --space-16: calc(var(--space-base) * 16); /* 128px*/
  --space-17: calc(var(--space-base) * 17); /* 136px*/
  --space-18: calc(var(--space-base) * 18); /* 144px*/
  --space-19: calc(var(--space-base) * 19); /* 152px*/
  --space-20: calc(var(--space-base) * 20); /* 160px*/

  /* layout */

  --margin-layout-top: var(--space-18);
  --margin-layout-bottom: var(--space-05); /* 40px */
  --margin-layout-horizontal: 10vw;

  --margin-layout-presentation-bottom: var(--space-08); /* 96px */
  --margin-news-top: var(--space-05);

  --col-1: 100%;
  --col-2: calc(calc(var(--col-1) / 2) - 1.5%);
  --col-3: calc(calc(var(--col-1) / 3) - 2%);
  --col-4: calc(calc(var(--col-1) / 4) - 2.5%);

  /* header */

  --padding-header-vertical: var(--space-04);
  --padding-header-horizontal: var(--margin-layout-horizontal);

  --padding-header-right: var(--space-04);

  --padding-submenu-bottom: var(--space-14);

  /* table of contents */

  --gap-toc: var(--space-04);
  --padding-toc: calc(var(--gap-toc) / 2);
  --margin-toc-right: var(--space-03);
  --height-toc: var(--space-08);

  --flex-toc: 0 0 30%;

  /* footer */

  --margin-footer-top: var(--space-08);
  --gap-footer: var(--padding-header-right);

  /* image */

  --image-logo-size: 13.88vw; /* 200px for 1440px width */

  --image-size-info: var(--space-08);
  --gap-image: var(--space-03);
  --margin-image: var(--space-02);

  --image-marker-size: var(--space-06); /* 48px */

  /* text */

  --margin-heading: 1.5em;
  --margin-text: 0.5em;
  --margin-text-col-1: 22%;

  --margin-figcaption: var(--space-02);

  --margin-blockquote-left: 11vw;
  --margin-blockquote-vertical: var(--space-06);
  --margin-blockquote-footer-top: var(--space-02);
  --margin-blockquote-icon-bottom: var(--space-01);

  /* block */

  --block-size-image: 30vw;

  --block-size-swiper-figcaption: 50vw;
  --block-size-swiper-image: var(--block-size-swiper-figcaption);

  --block-size-representative: calc(var(--space-16) * 2);
  --block-size-news-representative: calc(var(--block-size-representative) * 2);
  --block-size-representative-image: 40%;
  --block-size-representative-content: calc(
    100% - var(--block-size-representative-image)
  );

  --margin-block: var(--space-04);

  --margin-block-representative-title-bottom: var(--space-01); /* 8px */
  --margin-block-representative-children-bottom: var(--space-02); /* 16px */
  --margin-block-representative-footer: var(--space-02); /* 16px */

  --padding-block: var(--space-02);
  --padding-block-representative: var(--margin-block);
  --padding-block-representative-content: var(--space-03) var(--space-16)
    var(--space-03) var(--space-03);

  --margin-card-heading-top: var(--space-01);
  --margin-card-heading-bottom: var(--space-02);
  --margin-card-data-bottom: calc(var(--space-01) / 2);
  --margin-card-text-top: var(--margin-card-heading-bottom);

  --margin-collapse-section: var(--button-icon-size-normal); /* 20px */

  --block-size-video-col-1: 40vw;
  --block-size-video-col-2: calc(var(--block-size-video-col-1) / 2);
  --block-size-video-col-3: calc(var(--block-size-video-col-2) / 2);

  /* search section */

  --margin-search-section-vertical: var(--space-12);

  --margin-category-right: var(--space-02);
  --margin-filter-right: var(--space-01);
  --margin-filter-top: var(--margin-block);

  /* pagination */

  --margin-pagination-bottom: var(--space-02);
  --margin-pagination-bullet: calc(var(--space-01) / 2);

  --pagination-size: var(--button-size-normal);
  --padding-pagination-bullet: calc(var(--space-01) / 2) var(--space-01);

  /* button */

  --button-size-scale: 0.625;

  --padding-button-horizontal: calc(
    var(--space-03) * var(--button-size-scale)
  ); /* 15px */
  --padding-button-vertical: calc(
    var(--space-02) * var(--button-size-scale)
  ); /* 10px */

  --button-size-x-large: var(--space-08); /* 64px */
  --button-size-large: var(--space-07); /* 56px */
  --button-size-normal: var(--space-06); /* 48px */
  --button-size-small: var(--space-05); /* 40px */

  --button-icon-size-x-large: calc(
    var(--space-06) * var(--button-size-scale)
  ); /* 30px */
  --button-icon-size-large: calc(
    var(--space-05) * var(--button-size-scale)
  ); /* 25px */
  --button-icon-size-normal: calc(
    var(--space-04) * var(--button-size-scale)
  ); /* 20px */
  --button-icon-size-small: calc(
    var(--space-03) * var(--button-size-scale)
  ); /* 15px */

  --gap-button: var(--space-02); /* 16px */
  --margin-button-top: var(--space-06); /* 48px */

  /* tag */

  --padding-tag-horizontal: 0.75em;
  --padding-tag-vertical: calc(var(--padding-tag-horizontal) / 3);

  --gap-tag: var(--space-01);

  --tag-size-scale: 0.55;

  --tag-size-large: calc(var(--space-06) * var(--tag-size-scale)); /* 26.4px */
  --tag-size-normal: calc(var(--space-05) * var(--tag-size-scale)); /* 22px */
  --tag-size-small: calc(var(--space-04) * var(--tag-size-scale)); /* 17.6px */

  --tag-icon-size-large: calc(
    var(--space-04) * var(--tag-size-scale)
  ); /* 17.6px */
  --tag-icon-size-normal: calc(
    var(--space-03) * var(--tag-size-scale)
  ); /* 13.2px */
  --tag-icon-size-small: calc(
    var(--space-02) * var(--tag-size-scale)
  ); /* 8.8px */

  /* label */

  --padding-label-horizontal: var(--space-01);
  --padding-label-vertical: calc(var(--padding-label-horizontal) / 2);

  --position-label: var(--button-icon-size); /* 20px */
  --margin-label-right: var(--space-01); /* 8px */

  /* border */

  --border: 1px;
  --outline: calc(var(--border) * 2);

  --border-base: var(--space-01); /* 8px */

  --border-radius-round: 100px;
  --border-radius-large: calc(var(--border-radius-normal) * 2); /* 16px */
  --border-radius-normal: var(--border-base); /* 8px */
  --border-radius-small: calc(var(--border-radius-normal) / 2); /* 4px */

  /* divider */

  --margin-hr-main: var(--space-08);
  --margin-heading-line-right: var(--button-icon-size-normal); /* 20px */

  --margin-divider-info: var(--space-03);
  --divider-size-info: var(--space-02);

  /* transition */

  --transition: all 0.3s ease;
}

/* TABLET */

@media screen and (max-width: 800px) {
  :root {
    --font-size-scale: 1.2;
    --font-size-base-text: 1rem; /* 16px */
    --font-size-base-heading: 2rem; /* 32px */

    --margin-layout-top: var(--space-14); /* 112px */
    --margin-layout-horizontal: 5vw;

    --padding-header-vertical: var(--space-02); /* 16px */
    --gap-toc: var(--space-02);
    --margin-toc-right: var(--space-02);

    --margin-block: var(--space-03); /* 24px */
    --margin-card-heading-top: var(--space-02); /* 16px*/

    --col-2: var(--col-1);
    --col-3: var(--col-1);
    --col-4: var(--col-1);

    --margin-text-col-1: 0;

    --margin-figcaption: var(--space-02); /* 16px */

    --block-size-image: 70vw;
    --block-size-swiper-image: 50vw;

    --block-size-video-col-1: 55vw;
    --block-size-video-col-2: var(--block-size-video-col-1);
    --block-size-video-col-3: var(--block-size-video-col-1);

    --block-size-representative-image: 100%;
    --block-size-representative-content: var(--block-size-representative-image);

    --margin-hr-main: var(--space-04);

    --flex-toc: 0 0 20%;
  }
}

/* MOBILE */

@media screen and (max-width: 400px) {
  :root {
    --font-size-base-text: 1rem; /* 16px */
    --font-size-base-heading: 1.75rem; /* 32px */

    --margin-layout-top: var(--space-12); /* 96px */
    --margin-block: var(--space-02); /* 16px */

    --margin-figcaption: var(--space-01); /* 8px */
  }
}
