.content-text {
  font-size: 14px;
}
:root {

  --color-white: #fff;

  --color-grey-light: #cecece;
  --color-grey-dark: #5f5e5e;
  --color-blue-dark-1: #1e3039;
  --color-green-light-1: #61c6a1;

  --font-weight-regular: 400;

  --font-size-3: 1.125rem;
  --font-size-4: 0.875rem;
  --font-size-5: 0.75rem;

  --padding: .75rem;

  --rounded: .25rem;


}

.dark-grey {
  color: var(--color-dark-gray) !important;
}

.dark-blue {
  color: var(--color-dark-blue) !important;
}

html {
  font-family: sans-serif;
  font-weight: 100;
  color: var(--color-blue-dark-1);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2rem 0;
  font-weight: 600;
  line-height: 110%;
}
h1 {
  font-size: 3.9375rem;
}
h2 {
  font-size: 3.125rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.625rem;
}
p {
  font-size: var(--font-size-4);
  font-weight: 400;
  line-height: 160%;
}

figcaption {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-4);
  font-style: italic;
  margin-top: 0.87rem;
}
