<template>
  <CardHeader :content="content" />
  <Divider />
  <main>
    <BlockToc />
    <Blocks :layout="content.bodybuilder" />
  </main>
</template>

<script setup>
import Blocks from "../components/blocks/0_Blocks.vue"
import Divider from "../components/Divider.vue"
import CardHeader from "../components/CardHeader.vue"
import BlockToc from "../components/blocks/BlockToc.vue"

const { content } = defineProps({
  content: Object,
  subpages: Array,
})
</script>

<style scoped>
/* divider */

.info-divider {
  display: flex;
  width: fit-content;
  margin: var(--margin-divider-info) 0;
}

hr {
  position: relative;
  left: 0;
  border: none;
  height: var(--border);
  background-color: var(--color-blue-dark-1);
  width: var(--divider-size-info);
}

/* main */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* MOBILE & TABLET */

@media screen and (max-width: 800px) {
}
</style>
