<template>
  <h1>{{ content.title }}</h1>
  <Description :text="content.description" />
  <Blocks :layout="content.builder" />
</template>

<script setup>
import Description from "../components/Description.vue"
import Blocks from "../components/blocks/0_Blocks.vue"

const { content } = defineProps({
  content: Object,
})
</script>

<style scoped></style>
