<template>
  <section id="home-header">
    <div id="left-column" class="column">
      <img
        v-if="content.logo.length > 0"
        id="home-logo"
        :src="content.logo[0].url"
        :alt="content.logo[0].alt"
      />
      <h2 id="catch">{{ content.catch }}</h2>
    </div>
    <div id="right-column" class="column">
      <BlockImage
        :image="content.headerimage[0]"
        :custom-styles="[
          { property: 'height', value: '70%' },
          { property: 'display', value: 'flex' },
        ]"
      />
    </div>
  </section>
  <NewsSection v-if="news.length > 0" :news="news" />
  <section>
    <Blocks :layout="content.builder" />
  </section>
</template>

<script setup>
import BlockImage from "../components/blocks/BlockImage.vue";
import Blocks from "../components/blocks/0_Blocks.vue";
import NewsSection from "../components/NewsSection.vue";

const { content, subpages } = defineProps({
  content: Object,
  subpages: Array,
});

const externalNews = [];

for (const item in content.externalnews) {
  if (Object.hasOwnProperty.call(content.externalnews, item)) {
    const element = content.externalnews[item];
    externalNews.push(element);
  }
}

const news =
  externalNews.length > 0 ? [...externalNews, ...subpages] : [...subpages];
</script>

<style scoped>
#home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--margin-layout-presentation-bottom);
  height: 45vw;
}

.column {
  width: var(--col-2);
  display: flex;
  flex-direction: column;
}

#home-logo {
  width: 10vw;
}

#catch {
  display: flex;
  /* width: 100%; */
  font-size: var(--font-size-home);
  color: var(--color-blue-dark-1);
  word-break: normal;
  hyphens: none;
  margin-right: var(--margin-block);
  margin-top: 3rem;
}

/* Hyphens */

@media screen and (max-width: 800px) {
  #home-header {
    flex-direction: column;
    margin-bottom: 0;
  }

  #left-column {
    margin-bottom: var(--margin-block);
  }

  #home-logo {
    width: calc(var(--image-logo-size) * 2);
  }

  #catch {
    font-size: calc(var(--font-size-home) * 2);
    margin-right: 0;
  }

  #home-header {
    height: auto;
  }
}
</style>
