<template>
  <CardHeader :content="content" />
  <!-- <NewsSection v-if="news" :news="news" /> -->
  <Divider level="main" title="Les projets" />
  <main>
    <ul>
      <li v-for="project in subpages">
        <BlockRepresentative
          class="block block--project"
          :block="{
            content: project,
          }"
          :cols="1"
        />
      </li>
    </ul>
  </main>
</template>
<script setup>
import CardHeader from "../components/CardHeader.vue"
import Divider from "../components/Divider.vue"
import BlockRepresentative from "../components/blocks/BlockRepresentative.vue"
const { content, subpages } = defineProps({
  content: Object,
  subpages: Array,
})

if (content.news) {
  content.news = Object.values(content.news) // convert news to array
}

let news = content.news ? [...content.news] : []
news = subpages ? [...news, ...subpages] : news
if (!news.some((item) => item.status !== "draft")) {
  news = false
}
</script>
<style></style>
