<template>
  <CardHeader :content="content" />
  <NewsSection v-if="news" :news="news" />
  <Divider level="main" />
  <main>
    <BlockToc v-if="content.summary !== 'false'" />
    <Blocks v-if="content.bodybuilder" :layout="content.bodybuilder" />
  </main>
</template>

<script setup>
import Blocks from "../components/blocks/0_Blocks.vue"
import Divider from "../components/Divider.vue"
import NewsSection from "../components/NewsSection.vue"
import CardHeader from "../components/CardHeader.vue"
import BlockToc from "../components/blocks/BlockToc.vue"

const { content, subpages } = defineProps({
  content: Object,
  subpages: Array,
})
// const news = content.news ? [...content.news, ...subpages] : false
if (content.news) {
  content.news = Object.values(content.news) // convert news to array
}

let news = content.news ? [...content.news] : []
news = subpages ? [...news, ...subpages] : news
if (!news.some((item) => item.status !== "draft")) {
  news = false
}
</script>

<style scoped>
/* divider */

.info-divider {
  display: flex;
  width: fit-content;
  margin: var(--margin-divider-info) 0;
}

hr {
  position: relative;
  left: 0;
  border: none;
  height: var(--border);
  background-color: var(--color-blue-dark-1);
  width: var(--divider-size-info);
}

/* main */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* MOBILE & TABLET */

@media screen and (max-width: 800px) {
}
</style>
