<template>
  <h1>{{ content.title }}</h1>
  <Description :text="content.description" />
  <SearchSection />
  <ul id="projects">
    <li v-for="project in filteredItems" :key="project.uri">
      <BlockRepresentative :block="project" :cols="1" />
    </li>
  </ul>
</template>

<script setup>
import Description from "../components/Description.vue"
import SearchSection from "../components/SearchSection.vue"
import BlockRepresentative from "../components/blocks/BlockRepresentative.vue"
import {
  items,
  filteredItems,
  categories,
  metadata,
} from "../composables/search.js"
import YAML from "/node_modules/yaml"

const { content, subpages } = defineProps({
  content: Object,
  subpages: Object,
})

categories.value = content.categories

items.value = content.children
</script>

<style scoped>
#projects {
  margin-top: var(--margin-block);
}
</style>
