<template>
  <h1>{{ content.title }}</h1>
  <Description :text="content.description" />
  <button
    v-if="!content.iscontributive || content.iscontributive == 'true'"
    id="submit-card"
    class="button primary normal"
    @click="isCardFormOpen = true"
  >
    Proposer une fiche
    <img src="/assets/svg/more.svg" alt="" />
  </button>
  <SearchSection />
  <div class="views" v-if="hasMoreThanOneView">
    <template v-for="view in views">
      <button
        v-if="!view.disabled"
        :id="'view-' + view.id"
        class="view-button normal tertiary empty"
        :class="{ active: view.isActive }"
        @click="setView(view.id)"
      >
        <img :src="view.icon" alt="" />
        <p v-if="isDesktop">{{ view.label }}</p>
      </button>
    </template>
  </div>
  <Map v-if="activeView.id === 'map'" :cards="filteredItems" />
  <Agenda v-if="activeView.id === 'agenda'" :cards="content.children" />
  <ul v-if="activeView.id === 'grid' || activeView.id === 'agenda'" id="grid">
    <template v-for="news in filteredItems" :key="news.content.title">
      <NewsRepresentative :news="news" />
    </template>
  </ul>
  <CardForm
    v-if="isCardFormOpen"
    :content="content"
    @close="isCardFormOpen = false"
  />
</template>

<script setup>
import Map from "../components/Map.vue";
import Agenda from "../components/Agenda.vue";
import Description from "../components/Description.vue";
import SearchSection from "../components/SearchSection.vue";
import NewsRepresentative from "../components/NewsRepresentative.vue";
import CardForm from "../components/CardForm.vue";
import dayjs from "dayjs";
import { computed, ref } from "vue";
import {
  items,
  filteredItems,
  categories,
  views,
} from "../composables/search.js";
import YAML from "/node_modules/yaml";

const { content, subpages } = defineProps({
  content: Object,
  subpages: Object,
});

setViews();

const isDesktop = ref(window.innerWidth > 800);

window.addEventListener("resize", () => {
  isDesktop.value = window.innerWidth > 800;
});

const isCardFormOpen = ref(false);

categories.value = content.categories;

items.value = content.children;

function setView(newViewId) {
  views.value.forEach((view) => {
    view.isActive = view.id === newViewId;
  });
}

const activeView = computed(() => {
  return views.value.find((view) => view.isActive);
});

const hasMoreThanOneView = computed(() => {
  return views.value.filter((view) => !view.disabled).length > 1;
});

function setViews() {
  views.value.map((view) => {
    if (view.id === "agenda") view.disabled = content.enabledate == "false";
    if (view.id === "map") view.disabled = content.enablelocation == "false";
  });
}
</script>

<style scoped>
#submit-card {
  margin-bottom: 2rem;
}

.views {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}
.view-button {
  background-color: var(--color-white);
  margin-left: 1rem;
  border-radius: var(--border-radius-small);
  padding: 0.38rem;
}

.view-button p {
  margin-bottom: 0;
  padding-right: 7px;
  color: var(--color-grey-dark);
}
.view-button:hover p,
.view-button.active p {
  color: var(--color-blue-dark-1);
}

.view-button:hover {
  background-color: var(--color-green-light-5);
}

.view-button.active {
  background-color: var(--color-green-light-4);
}

.view-button img {
  width: 1.5rem;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-04);
}

@media screen and (max-width: 800px) {
  #submit-card {
    width: 100%;
  }

  #grid {
    display: block;
  }
}
</style>
