<template>
  <h1>{{ content.title }}</h1>
  <Description :text="content.description" />
  <section>
    <header>
      <ul id="tabs">
        <li v-for="monthName in monthsNames">
          <button
            @click="displayedMonthName = monthName"
            :class="{
              selected: monthName.english === displayedMonthName.english,
            }"
          >
            {{ monthName.french }}
          </button>
        </li>
      </ul>
    </header>
    <div id="food">
      <h3>{{ displayedMonth.name.french }}</h3>
      <h5>Légumes de saison</h5>
      <ul class="food-list" id="vegetables">
        <li
          v-for="vegetable in displayedMonth.food.vegetables"
          class="food-item"
        >
          <figure>
            <img :src="vegetable.url" alt="" />
            <figcaption v-if="vegetable.name">{{ vegetable.name }}</figcaption>
          </figure>
        </li>
      </ul>
      <h5>Fruits de saison</h5>
      <ul class="food-list" id="fruits">
        <li v-for="fruit in displayedMonth.food.fruits" class="food-item">
          <figure>
            <img :src="fruit.url" alt="" />
            <figcaption v-if="fruit.name">{{ fruit.name }}</figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </section>
</template>

<script setup>
import { computed, ref } from "vue"
import Description from "../components/Description.vue"
import dayjs from "dayjs"

const { content } = defineProps({
  content: Object,
})

const monthsNames = [
  {
    french: "Janvier",
    english: "january",
  },
  {
    french: "Février",
    english: "february",
  },
  {
    french: "Mars",
    english: "march",
  },
  {
    french: "Avril",
    english: "april",
  },
  {
    french: "Mai",
    english: "may",
  },
  {
    french: "Juin",
    english: "june",
  },
  {
    french: "Juillet",
    english: "july",
  },
  {
    french: "Août",
    english: "august",
  },
  {
    french: "Septembre",
    english: "september",
  },
  {
    french: "Octobre",
    english: "october",
  },
  {
    french: "Novembre",
    english: "november",
  },
  {
    french: "Décembre",
    english: "december",
  },
]

const displayedMonthName = ref(monthsNames[dayjs().month()])

const displayedMonth = computed(() => {
  return {
    name: {
      english: displayedMonthName.value.english,
      french: displayedMonthName.value.french,
    },
    food: {
      vegetables:
        content[displayedMonthName.value.english + "vegetables"].length > 0
          ? content[displayedMonthName.value.english + "vegetables"]
          : false,
      fruits:
        content[displayedMonthName.value.english + "fruits"].length > 0
          ? content[displayedMonthName.value.english + "fruits"]
          : false,
    },
  }
})
</script>

<style scoped>
#tabs {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
#tabs button {
  padding: 0.5rem;
  font-size: var(--font-size-base-text);
  font-weight: 400;
  border-radius: var(--border-radius-small);
}
#tabs button:hover {
  background-color: var(--color-green-light-5);
}
#tabs button.selected {
  background-color: var(--color-green-light-4);
}

#tabs li {
  margin-right: 1vw;
}

.food-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5vw;
}

.food-item figcaption {
  width: 100%;
  text-align: center;
  font-style: normal;
}

@media screen and (max-width: 800px) {
  .food-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
</style>
