<template>
  <div class="layout">
    <template v-if="layout">
      <div
        class="row"
        v-for="(row, rowIndex) in layout.rows"
        :key="'row-' + rowIndex"
      >
        <div
          class="column"
          v-for="(column, colIndex) in row"
          :key="'col-' + colIndex"
          :class="'col-' + row.length"
        >
          <template v-for="block in column" :key="block.id">
            <component
              :is="getBlockComponent(block.type)"
              class="block"
              :class="'block--' + block.type"
              :block="block"
              :image="block.type === 'image' ? block.content.image : false"
              :cols="getCols(row, block)"
            ></component>
          </template>
        </div>
      </div>
    </template>
  </div>
</template>

<script setup>
import BlockImage from "./BlockImage.vue"
import BlockSlider from "./BlockSlider.vue"
import BlockVideo from "./BlockVideo.vue"
import BlockHeading from "./BlockHeading.vue"
import BlockLine from "./BlockLine.vue"
import BlockText from "./BlockText.vue"
import BlockQuote from "./BlockQuote.vue"
import BlockButton from "./BlockButton.vue"
import BlockCollapsableSection from "./BlockCollapsableSection.vue"
import BlockCard from "./BlockCard.vue"
import BlockRepresentative from "./BlockRepresentative.vue"

const { layout } = defineProps({
  layout: String,
})

function getBlockComponent(type) {
  const componentMap = {
    image: BlockImage,
    gallery: BlockSlider,
    video: BlockVideo,
    heading: BlockHeading,
    line: BlockLine,
    text: BlockText,
    quote: BlockQuote,
    "mady-button": BlockButton,
    collapsableSection: BlockCollapsableSection,
    card: BlockCard,
    representative: BlockRepresentative,
  }
  return componentMap[type] || null
}

function getCols(row, block) {
  return block.type === "video" ? row.length : false
}
</script>

<style scoped>
.row {
  display: flex;
  justify-content: space-between;
}

.column {
  margin-bottom: var(--space-04);
}
</style>
