<template>
  <blockquote cite="https://www.huxley.net/bnw/four.html">
    <p>
      {{ block.content.text }}
    </p>
    <footer>
      <cite>{{ block.content.citation }}</cite>
    </footer>
  </blockquote>
</template>

<script setup>
const { block } = defineProps({
  block: Object,
})
</script>

<style scoped>

blockquote {
  margin-left: var(--margin-blockquote-left);
  margin-right: 0;
}

blockquote::before {
  content: url(/assets/svg/quote.svg);
  display: flex;
  height: var(--button-size-normal);
  width: var(--button-size-normal);
}

blockquote p,
blockquote cite {
  text-align: right;
  font-size: var(--font-size-text-2);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-text);
  margin: 0;
}

blockquote footer {
  margin-top: var(--margin-blockquote-footer-top);
  text-align: right;
}

.col-2 blockquote,
.col-3 blockquote,
.col-4 blockquote {
  margin-left: 0;
}

</style>
