<template>
  <div class="tag" v-if="tag.length > 0">{{ tag }}</div>
</template>

<script setup>
const { tag } = defineProps({
  tag: String,
})
</script>

<style scoped>
.tag {
  display: flex;
  width: fit-content;
  height: var(--tag-size-normal);
  padding: var(--padding-tag-vertical) var(--padding-tag-horizontal);
  font-size: var(--font-size-text-5);
  font-weight: var(--font-weight-semi-bold);
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-round);
  color: var(--color-blue-dark-1);
  background: var(--color-green-light-4);
  transition: var(--transition);
}

/* tag level */

.small,
.tag.small {
  height: var(--tag-size-small);
  font-size: var(--font-size-text-5);
}

img.small,
.tag img.small {
  width: var(--tag-icon-size-small);
  height: var(--tag-icon-size-small);
}

.normal,
.tag.normal {
  height: var(--tag-size-normal);
  font-size: var(--font-size-text-4);
}

img.normal,
.tag img.normal {
  width: var(--tag-icon-size-normal);
  height: var(--tag-icon-size-normal);
}

.large,
.tag.large {
  height: var(--tag-size-large);
  font-size: var(--font-size-text-3);
}

img.large,
.tag img.large {
  width: var(--tag-icon-size-large);
  height: var(--tag-icon-size-large);
}
</style>
