<template>
  <a
    class="button normal"
    :href="block.content.link"
    target="_blank"
    :class="[block.content.type, { empty: block.content.text.length === 0 }]"
  >
    {{ block.content.text }}
    <img :src="getArrowIcon(block.content.link)" alt="" />
  </a>
</template>

<script setup>
import arrowRight from "/assets/svg/arrow-right.svg"
import arrowRightTop from "/assets/svg/arrow-right-top.svg"

const { block } = defineProps({
  block: Object,
})

const getArrowIcon = (link) => {
  if (isInternalLink(link)) {
    return arrowRight
  } else {
    return arrowRightTop
  }
}

const isInternalLink = (link) => {
  return link.startsWith("/") || link.includes(window.location.host)
}
</script>

<style scoped></style>
