<template>
  <a
    class="representative round-border block block--project"
    :href="block.url ? block.url : block.content.url"
  >
    <figure class="representative__image">
      <img
        v-if="
          Array.isArray(block.content.headerimage)
            ? block.content.headerimage.length > 0
            : block.content.headerimage.url
        "
        :src="
          Array.isArray(block.content.headerimage)
            ? block.content.headerimage[0].url
            : block.content.headerimage.url
        "
        alt=""
      />
    </figure>
    <div class="representative__content">
      <h3 class="representative__title">
        {{ block.content.title }}
      </h3>
      <p
        class="content-text color-dark-grey representative__children subelements-count"
        v-if="block.variant !== 'project' && block.children?.length > 0"
      >
        {{ block.children.length - 1 }}
        {{ block.variant === "projects-group" ? "sous-projets" : "fiches" }}
      </p>
      <div
        class="content-text color-dark-blue description"
        v-if="description"
        v-html="description"
      ></div>
      <ul class="tags" v-if="tags">
        <BlockTag v-for="tag in tags" :tag="tag" />
      </ul>
    </div>
  </a>
</template>

<script setup>
import { computed, ref } from "vue"
import BlockTag from "./BlockTag.vue"

const { block } = defineProps({
  block: Object,
})

const descriptionLength = ref(Math.round((window.innerWidth / 10) * 2.1))

const description = computed(
  () => block.content.description.slice(0, descriptionLength.value) + "…"
)

const tags = block.content.metadata?.categories
  ?.map((category) => {
    return category.value
  })
  .filter(Boolean)
  .flat()

function updateDescriptionLength() {
  if (window.innerWidth < 1300) {
    descriptionLength.value = Math.round((window.innerWidth / 10) * 1.7)
  }
}

function resizeHandler() {
  requestAnimationFrame(updateDescriptionLength)
}

window.addEventListener("resize", resizeHandler)
</script>

<style scoped>
.representative {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: var(--block-size-representative);
  border: var(--border) solid var(--color-grey-light);
  border-radius: var(--border-radius-normal);
  padding: var(--padding-block-representative);
  background-color: var(--color-white);
  transition: var(--transition);
}

.representative:hover {
  border-color: var(--color-green-light-1);
  background: var(--color-green-light-5);
}

h3 {
  margin: 0;
}

.representative__image {
  width: var(--block-size-representative-image);
  border-radius: var(--border-radius-small);
  overflow: hidden;
  background-color: var(--color-background);
  margin-right: var(--padding-block-representative);
}

.representative__image img {
  height: 100%;
  object-fit: cover;
  border: 0;
  border-radius: var(--border-radius-small);
}

.representative__content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: var(--block-size-representative-content);
  height: auto;
  overflow: hidden;
  padding: 0;
}

.representative__title {
  margin-bottom: var(--margin-block-representative-title-bottom);
}

.representative__children {
  margin-top: 0;
  margin-bottom: var(--margin-block-representative-children-bottom);
}

.content-text {
  height: auto;
  color: var(--color-grey-dark);
  font-size: var(--font-size-text-4);
  font-weight: var(--font-weight-semi-bold);
}

.description,
.description p {
  color: var(--color-blue-dark-1);
  font-size: var(--font-size-text-4);
  font-weight: var(--font-weight-semi-bold);
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.description:not(.subelements-count + .description) {
  margin-top: 2rem;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-tag);
  margin-top: var(--margin-block-representative-footer);
}

/* colum */

/* À  FINIR !!! */

.col-2 .representative,
.col-3 .representative,
.col-4 .representative {
  height: auto;
  flex-direction: column;
}

.col-2 .representative__image,
.col-2 .representative__image img,
.col-3 .representative__image,
.col-3 .representative__image img,
.col-4 .representative__image,
.col-4 .representative__image img {
  width: 100%;
  height: calc(var(--block-size-swiper-image) / 2);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
}

.col-2 .representative__image,
.col-2 .representative__image img {
  height: calc(var(--block-size-swiper-image) / 2);
}

.col-3 .representative__image,
.col-3 .representative__image img {
  height: calc(var(--block-size-swiper-image) / 3);
}

.col-4 .representative__image,
.col-4 .representative__image img {
  height: calc(var(--block-size-swiper-image) / 4);
}

.col-2 .representative__content,
.col-3 .representative__content,
.col-4 .representative__content {
  width: 100%;
  height: 100%;
}

.col-2 .representative__title,
.col-3 .representative__title,
.col-4 .representative__title {
  margin-top: var(--space-02);
}

/* MOBILE */

@media screen and (max-width: 800px) {
  .representative {
    height: auto;
    flex-direction: column;
  }

  .representative__image,
  .representative__image img {
    height: var(--block-size-swiper-image);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .representative__title {
    margin-top: var(--margin-card-heading-top);
  }

  .representative__content {
    padding: 0;
  }
}
</style>
