<template>
  <div class="collapsable-section" :class="{ open: isOpen }">
    <div class="title">
      <h3>{{ block.title }}</h3>
      <button
        class="button tertiary large"
        @click="isOpen = !isOpen"
        :title="isOpen ? 'Voir moins' : 'Voir plus'"
      >
        <img
          :src="isOpen ? '/assets/svg/less.svg' : '/assets/svg/more.svg'"
          class="large"
          alt=""
        />
      </button>
    </div>
    <Blocks :layout="block" v-if="isOpen" />
  </div>
</template>

<script setup>
import { ref } from "vue"
import Blocks from "./0_Blocks.vue"
import BlockButton from "./BlockButton.vue"

const { block } = defineProps({
  block: Object,
})

const isOpen = ref(false)
</script>

<style scoped>
.collapsable-section {
  border-top: var(--border) solid var(--color-blue-dark-1);
  border-bottom: var(--border) solid var(--color-blue-dark-1);
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title h3 {
  margin: var(--margin-collapse-section) 0;
}

button img {
  width: var(--button-icon-size-large);
}

button::before {
  content: "Voir";
}
</style>
