<template>
  <figure v-if="hasImage">
    <div
      class="image-wrapper"
      :class="{
        'image-wrapper--card': image.variant === 'card' || variant === 'card',
      }"
      :style="styles"
      ref="wrapper"
    >
      <img
        :srcset="image.srcset"
        sizes="(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1024px) 1024px"
        :src="image.url"
      />
    </div>
    <figcaption v-if="image.caption">
      <span v-if="hasHtmlCaption" v-html="image.caption"></span>
      <span v-else>{{ image.caption }}</span>
    </figcaption>
  </figure>
  <figure v-else>
    <div
      class="image-wrapper"
      :class="{
        'image-wrapper--card': hasImage
          ? image.variant === 'card' || variant === 'card'
          : true,
      }"
      :style="styles"
      ref="wrapper"
    ></div>
  </figure>
</template>

<script setup>
import { computed, onMounted, ref } from "vue"
const { image, customStyles, labels, variant } = defineProps({
  image: Object,
  customStyles: Array,
  variant: String,
})

const wrapper = ref(null)
const styles = ref(null)
const hasHtmlCaption = /<\/?[a-z][\s\S]*>/i.test(image?.caption)

onMounted(() => {
  styles.value = getStyles()
  window.addEventListener("resize", () => {
    styles.value = getStyles()
  })
})

const hasImage = computed(() => {
  return image !== undefined
})

function getStyles() {
  if (!wrapper.value || !hasImage.value) return
  const calculatedHeight = wrapper.value.offsetWidth / 1.5 + "px"
  const heightStyle =
    image.variant === "card" || variant === "card"
      ? "height: " + calculatedHeight + ";"
      : ""
  const customs = customStyles
    ? customStyles.map((style) => `${style.property}: ${style.value};`).join()
    : ""
  const styles = heightStyle + customs
  if (styles.length === 0) return false
  return styles
}
</script>

<style scoped>
.image-wrapper {
  position: relative;
  border-radius: var(--border-radius-normal);
  overflow: hidden;
  height: var(--block-size-image);
  box-sizing: border-box;
  background-color: var(--color-background);
}
.image-wrapper.image-wrapper--card {
  border-radius: calc(var(--border-radius-normal) - var(--border));
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
img {
  object-fit: cover;
  height: 100%;
}

/* label */
.labels {
  position: absolute;
  left: 0.2rem;
  bottom: 0.2rem;
  display: flex;
}
.labels li {
  color: var(--color-blue-dark-1);
  background-color: var(--color-green-light-4);
  padding: var(--padding-label-vertical) var(--padding-label-horizontal);
  border-radius: var(--border-radius-small);
  margin-right: var(--margin-label-right);
  font-size: var(--font-size-text-5);
  font-weight: var(--font-weight-bold);
}

/* MOBILE & TABLET */

@media screen and (max-width: 800px) {
}
</style>
