<template>
  <swiper-container init="false">
    <div slot="container-start" class="pagination-wrapper">
      <img class="arrow prev" src="/assets/svg/arrow-left.svg" />
      <div class="custom-pagination"></div>
      <img class="arrow next" src="/assets/svg/arrow-right.svg" />
    </div>

    <swiper-slide v-for="image in block.content.images">
      <BlockImage :image="image" />
    </swiper-slide>
  </swiper-container>
</template>

<script setup>
import { onMounted } from "vue"
import BlockImage from "./BlockImage.vue"
import { Pagination } from "swiper/modules"

const { block } = defineProps({
  block: Object,
})

onMounted(() => {
  setTimeout(() => {
    initSwiper()
    setSwiperBullets()
  }, 100)
})

function initSwiper() {
  const pagination = {
    clickable: true,
    el: ".custom-pagination",
    renderBullet: (index, className) => {
      return `<span class="${className}" data-index="${index + 1}">${
        index + 1
      }</span>`
    },
  }

  const navigation = {
    prevEl: ".prev",
    nextEl: ".next",
  }

  const modules = [Pagination]

  const params = {
    keyboard: true,
    centeredSlides: true,
    slidesPerView: "auto",
    direction: "horizontal",
    navigation: navigation,
    pagination: pagination,
    modules: modules,
  }

  const swiperEl = document.querySelector("swiper-container")
  Object.assign(swiperEl, params)
  swiperEl.initialize()

  // Don't remove !
  setTimeout(() => {
    swiperEl.swiper.slideTo(0)
  }, 0)

  swiperEl.swiper.on("slideChange", () => {
    setSwiperBullets()
  })
}

function setSwiperBullets() {
  const bullets = document.querySelectorAll(".swiper-pagination-bullet")
  bullets.forEach((bullet) => {
    const currentIndex = parseInt(
      document.querySelector(".swiper-pagination-bullet-active").dataset.index
    )
    const bulletIndex = parseInt(bullet.dataset.index)
    const gap = 3

    if (
      bulletIndex === currentIndex - gap ||
      bulletIndex === currentIndex + gap
    ) {
      bullet.style.display = ""
      bullet.textContent = "..."
    } else if (
      bulletIndex < currentIndex - gap ||
      bulletIndex > currentIndex + gap
    ) {
      bullet.style.display = "none"
    } else {
      bullet.textContent = bulletIndex
      bullet.style.display = ""
    }
  })
}
</script>

<style>
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-slide {
  width: auto;
  padding: 0 var(--margin-block);
}

swiper-container .swipper-wrapper {
  margin-right: var(--margin-block);
}

swiper-container .image-wrapper {
  border-radius: var(--border-radius-normal);
  overflow: hidden;
  max-height: var(--block-size-swiper-image);
}

swiper-container img {
  object-fit: cover;
  height: 100%;
}

swiper-container figcaption {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-text-4);
  font-style: italic;
  text-align: left;
  margin-top: var(--margin-figcaption);
  max-width: var(--block-size-swiper-figcaption);
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  height: var(--pagination-size);
  margin-bottom: var(--margin-pagination-bottom);
}

.swiper-pagination-bullet {
  padding: var(--padding-pagination-bullet);
  margin: 0 var(--margin-pagination-bullet);
  border-radius: var(--border-radius-small);
  cursor: pointer;
  transition: var(--transition);
}

.arrow {
  width: var(--button-icon-size-normal);
  height: var(--button-icon-size-normal);
  padding: var(--padding-button-vertical);
  border-radius: var(--border-radius-small);
  cursor: pointer;
  transition: var(--transition);
}

.swiper-pagination-bullet:hover,
.arrow:hover {
  background-color: var(--color-green-light-5);
}

.swiper-pagination-bullet:active,
.arrow:active {
  background-color: var(--color-green-light-4);
}

.swiper-pagination-bullet:focus-visible,
.arrow:focus-visible {
  background-color: var(--color-green-light-5);
  outline: solid var(--outline) var(--color-blue-dark-1);
  outline-offset: calc(var(--outline) * 2);
}

.swiper-pagination-bullet-active {
  background-color: var(--color-green-light-4);
}
</style>
