<template>
  <div
    v-if="headings.length > 0"
    id="toc-container"
    :class="{ 'toc--hidden': !menuVisible }"
  >
    <div class="chapter-list">
      <a
        v-for="(heading, index) in headings"
        :key="index"
        :class="{
          'last-item': index === headings.length - 1,
          active: activeChapter === index,
        }"
        @click="setActiveChapter(index)"
        class="chapter-item"
        :href="'#' + heading.id"
      >
        <p class="chapter-link" @click.prevent="scrollToHeading(heading.id)">
          {{ heading.text }}
        </p>
      </a>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, onBeforeUnmount } from "vue"

const headings = ref([])
const activeChapter = ref(null)

const menuVisible = ref(true)
let lastScrollPosition = 0

const getHeadings = () => {
  const headingsElements = document.querySelectorAll("h2")
  headings.value = Array.from(headingsElements).map((heading, index) => {
    if (!heading.id) {
      heading.id = `section-${index}`
    }
    return {
      id: heading.id,
      text: heading.innerText,
    }
  })
}

const setActiveChapter = (index) => {
  activeChapter.value = index
}

const scrollToHeading = (id) => {
  const element = document.getElementById(id)
  if (element) {
    const offset = window.innerWidth > 800 ? 182 : 120
    const top = element.getBoundingClientRect().top + window.scrollY - offset
    window.scrollTo({ top, behavior: "smooth" })
  }
}

function handleScroll() {
  const scrollY = window.scrollY || window.pageYOffset

  menuVisible.value = scrollY < lastScrollPosition
  lastScrollPosition = scrollY
}

onMounted(() => {
  getHeadings()
  window.addEventListener("scroll", handleScroll)
})
onBeforeUnmount(() => {
  window.removeEventListener("scroll", handleScroll)
})
</script>

<style scoped>
#toc-container {
  position: sticky;
  top: 5rem;
  overflow-x: auto;
  max-width: 100%;
  background-color: var(--color-background);
  padding-bottom: var(--padding-header-vertical);
  z-index: 998;
  scrollbar-width: none;

  transition: transform 0.3s ease-in-out;
}

.chapter-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-wrap: nowrap;
  gap: var(--gap-toc);
}

.chapter-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex: var(--flex-toc);
  color: var(--color-grey-dark);
  padding: var(--padding-toc);
  border-radius: var(--border-radius-small);
  transition: var(--transition);
}

.chapter-link {
  display: block;
  align-self: center;
  color: inherit;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-text-4);
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

div.chapter-list {
  counter-reset: list-number;
}
.chapter-item::before {
  counter-increment: list-number;
  content: counter(list-number);
  display: inline-flex;
  color: inherit;
  font-size: var(--font-size-number);
  align-items: center;
  margin-right: var(--margin-toc-right);
}

.chapter-item:hover {
  color: var(--color-blue-dark-1);
  background-color: var(--color-green-light-5);
}

.active {
  color: var(--color-blue-dark-1);
  background-color: var(--color-green-light-4);
}

#toc-container.toc--hidden {
  transform: translateY(-71%);
}

/* MOBILE & TABLET */

@media screen and (max-width: 800px) {
  #toc-container {
    top: 55px;
  }

  #toc-container.toc--hidden {
    transform: translateY(-79%);
  }

  .chapter-item::before {
    margin-left: calc(var(--margin-toc-right) / 2);
  }
}
</style>
