<template>
  <div class="wrapper round-border" ref="wrapper">
    <BlockImage :image="block.content.image" />
    <div id="info">
      <h5>{{ block.content.title }}</h5>
      <ul>
        <li v-for="metadata in block.content.metadata">
          {{ metadata.key }} : <span>{{ metadata.values }}</span>
        </li>
      </ul>
      <p>{{ block.content.description }}</p>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue"
import BlockImage from "./BlockImage.vue"

const props = defineProps({
  block: Object,
})

const wrapper = ref(null)
</script>

<style scoped>
.wrapper {
  color: var(--color-blue-dark-1);
  background-color: var(--color-white);
}

#info {
  padding: var(--padding-block);
}

h5 {
  margin-top: var(--margin-card-heading-top);
  margin-bottom: var(--margin-card-heading-bottom);
}

li {
  font-size: var(--font-size-text-5);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--margin-card-data-bottom);
}

li span {
  font-weight: var(--font-weight-regular);
}

p {
  margin-top: var(--margin-card-text-top);
}
</style>
