<template>
  <div class="line-wrapper">
    <h5 v-if="block.content.title.length > 0">{{ block.content.title }}</h5>
    <hr />
  </div>
</template>

<script setup>
const { block } = defineProps({
  block: Object,
})
</script>

<style scoped>
.line-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
h5 {
  margin: 0;
  margin-right: var(--margin-heading-line-right);
}
hr {
  width: 100%;
  border: none;
  height: var(--border);
  background-color: var(--color-blue-dark-1);
}
</style>
