<template>
  <component :is="block.content.level" class="block">
    {{ block.content.text }}
  </component>
</template>

<script setup>
const { block } = defineProps({
  block: Object,
})
</script>

<style scoped></style>
