<template>
  <figure>
    <iframe
      :src="iframeUrl"
      frameborder="0"
      width="100%"
      :height="height"
      allowfullscreen
    ></iframe>
    <figcaption v-if="block.content.caption.length > 0">
      <span v-if="hasHtmlCaption" v-html="block.content.caption"></span>
      <span v-else>{{ block.content.caption }}</span>
    </figcaption>
  </figure>
</template>

<script setup>
const { block, cols } = defineProps({
  block: Object,
  cols: Number,
})

const regexYoutubeUrls =
  /^(?!\()(?:https:\/\/)?(?:www\.)?(?:youtube\.com|youtu\.be)\/(?:watch\?.*v=)?(\w+-?\w+?)(?:\&.*)?/gm
const isYoutubeUrl = regexYoutubeUrls.test(block.content.url)

const regexVimeoUrls =
  /^(?!\()(?:https:\/\/)?(?:www\.)?(?:vimeo\.com)\/(\d+)(?:\?.*)?/gm
const isVimeoUrl = regexVimeoUrls.test(block.content.url)

const iframeUrl = createIframeUrl(block.content.url)
const height = document.body.clientWidth / 2 / cols + "px"
const hasHtmlCaption = /<\/?[a-z][\s\S]*>/i.test(block.content.caption)

// Functions
function createIframeUrl(url) {
  if (isYoutubeUrl) {
    return url.replaceAll(
      regexYoutubeUrls,
      `https://www.youtube-nocookie.com/embed/$1`
    )
  } else if (isVimeoUrl) {
    return url.replaceAll(
      regexVimeoUrls,
      `https://player.vimeo.com/video/$1?dnt=1`
    )
  } else {
    console.error(
      "Format d'url non pris en charge. Seul Youtube et Vimeo sont pris en charge."
    )
  }
}
</script>

<style scoped>
iframe {
  background-color: var(--color-white);
  border-radius: var(--border-radius-normal);
}

.col-1 iframe {
  height: var(--block-size-video-col-1);
}
.col-2 iframe {
  height: var(--block-size-video-col-2);
}
.col-3 iframe {
  height: var(--block-size-video-col-3);
}
</style>
