@keyframes rotate{0%{transform:rotate(0)}to{transform:rotate(360deg)}}.k-section-name-refreshData .k-button{background-color:var(--color-gray-300);padding:var(--spacing-3);border-radius:var(--rounded-md);transition:background-color .2s ease-in-out}.k-section-name-refreshData .k-button:hover{background-color:var(--color-gray-400)}.k-section-name-refreshData .k-icon-loader{animation:rotate 2s linear infinite}.k-button.check{background-color:var(--color-green-300)}
