.k-block-type-mady-button{height:100%}.mady-button-wrapper{width:100%;height:100%;display:flex;justify-content:center;align-items:center}.k-block-type-mady-button button{display:flex;padding:.625rem 1.25rem;justify-content:center;align-items:center;gap:.625rem;border-radius:.5rem}.k-block-type-mady-button .primary{background:#61c6a1}.k-block-type-mady-button .secondary{border:1px solid #1e3039}.k-block-type-mady-button .empty{padding:.625rem .6499rem}.k-block-type-mady-button img{width:1.3rem}
