<template>
  <section id="agenda" ref="agendaNode">
    <header>
      <button class="small button empty tertiary" id="prev" @click="prevMonth">
        <img src="/assets/svg/prev.svg" class="small empty tertiary" alt="" />
      </button>
      <h5>{{ currentMonthName }} {{ currentYear }}</h5>
      <button class="small button empty tertiary" id="next" @click="nextMonth">
        <img src="/assets/svg/next.svg" class="small empty tertiary" alt="" />
      </button>
    </header>
    <ul class="month">
      <li v-for="week in currentMonth" class="week">
        <ul>
          <li
            v-for="day in week"
            class="day"
            :class="{
              today: day.full === today,
              selected: selectedDate.format('YYYY-MM-DD') === day.full,
              extra: day.isExtra,
            }"
          >
            <button class="day-button" @click="setSelectedDate(day.full)">
              <p class="day-letter">
                {{ day.letter }}
              </p>
              <p class="day-number">{{ day.number }}</p>
              <div class="marker">
                <div v-if="day.isEvent" class="dot"></div>
              </div>
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</template>

<script setup>
import { computed, onMounted, ref } from "vue"
import dayjs from "dayjs"
import "dayjs/locale/fr"
import { selectedDate } from "../composables/search.js"

const { cards } = defineProps({
  cards: Array,
})

const agendaNode = ref(null)

dayjs.locale("fr")

const today = dayjs().format("YYYY-MM-DD")

const currentDate = ref(dayjs())
const currentMonthName = computed(() => {
  return (
    currentDate.value.format("MMMM").charAt(0).toUpperCase() +
    currentDate.value.format("MMMM").slice(1)
  )
})
const currentYear = computed(() => {
  return currentDate.value.format("YYYY")
})

const currentMonth = computed(() => {
  const numberOfDaysInMonth = currentDate.value.daysInMonth()
  const firstDayOfMonth = currentDate.value.date(1)

  const daysOfMonth = []
  let currentWeek = []

  for (let day = 1; day <= numberOfDaysInMonth; day++) {
    const date = currentDate.value.date(day)
    const dayOfWeek = (date.day() + 6) % 7

    const isFirstWeek = daysOfMonth.length === 0
    const isLastWeek =
      daysOfMonth.length - 1 === Math.round(numberOfDaysInMonth / 7)

    currentWeek.push({
      dayOfWeek: dayOfWeek,
      letter: date.format("dd").charAt(0).toUpperCase(),
      number: date.date(),
      full: date.format("YYYY-MM-DD"),
      isEvent: cards.some((card) => {
        const cardStartDate = dayjs(card.content.date)
        const cardEndDate = card.content.enddate
          ? dayjs(card.content.enddate)
          : cardStartDate

        const isAfterOrSameAsStartDate =
          date.isSame(cardStartDate) || date.isAfter(cardStartDate)
        const isBeforeOrSameAsEndDate =
          date.format("YYYY-MM-DD") == card.content.enddate ||
          date.isBefore(cardEndDate)

        return isAfterOrSameAsStartDate && isBeforeOrSameAsEndDate
      }),
    })

    if (dayOfWeek === 6 || day === numberOfDaysInMonth) {
      daysOfMonth.push(currentWeek)
      currentWeek = []
    }
  }

  return daysOfMonth
})

function scrollToAgenda() {
  const yOffset = -200
  window.scrollTo({
    top:
      agendaNode.value.getBoundingClientRect().top + window.scrollY + yOffset,
    behavior: "smooth",
  })
}

function prevMonth() {
  currentDate.value = currentDate.value.subtract(1, "month")
}
function nextMonth() {
  currentDate.value = currentDate.value.add(1, "month")
}

function setSelectedDate(date) {
  selectedDate.value = dayjs(date)
}

onMounted(() => {
  scrollToAgenda()
})
</script>

<style scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

header h5 {
  margin: 0;
}

.month {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* week */

.week {
  display: flex;
  width: calc(100% / 5);
}
.week ul {
  display: flex;
  width: 100%;
  padding: 0 var(--space-01);
}

.week:first-child::before {
  display: none;
}

.week::before {
  content: "";
  display: flex;
  position: relative;
  height: 100%;
  /* right: var(--space-01); */
  border: var(--border) solid var(--color-grey-light);
}

/* day */

.day {
  text-align: center;
  width: 100%;
}

.day-button {
  padding: calc(var(--space-01) / 2);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.day-button:hover {
  background-color: var(--color-green-light-5);
}
.day-button.selected {
  background-color: var(--color-green-light-4);
}
.today .day-number {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 1px;
}
.day.selected button {
  background-color: var(--color-green-light-4);
}
.day-letter {
  font-size: var(--font-size-text-5);
  color: var(--color-blue-dark-1);
}
.day-number {
  font-size: var(--font-size-text-4);
  color: var(--color-blue-dark-1);
  font-weight: var(--font-weight-bold);
}

.marker {
  display: flex;
  justify-content: center;
  width: auto;
  height: var(--space-02);
}
.dot {
  border-radius: 10rem;
  background-color: var(--color-green-light-1);
  width: 0.5rem;
  height: 0.5rem;
}

@media screen and (max-width: 1980px) {
  .month {
    flex-wrap: wrap;
  }
  .week {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 1280px) {
  .month {
    flex-wrap: wrap;
  }
  .week {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 800px) {
  .month {
    flex-wrap: wrap;
  }
  .week {
    width: 100%;
  }

  .week::before {
    display: none;
  }
}
</style>
