<template>
  <section id="presentation">
    <header>
      <div class="first-column">
        <h1 class="hero">{{ content.title }}</h1>
        <article id="description" v-html="content.description"></article>
        <template v-if="buttons">
          <BlockButton
            v-for="button in buttons"
            :key="button.id"
            :block="{ content: button.content }"
          />
        </template>
      </div>
      <div class="second-column">
        <BlockImage
          v-if="content.headerimage && content.headerimage[0]"
          class="img-description"
          :image="content.headerimage[0]"
        />
        <section class="metadata" v-for="tag in tags">
          <h6 class="info-title">{{ tag.name }}</h6>
          <ul class="tags">
            <li v-if="typeof tag.tags === 'string'">
              <BlockTag
                v-if="tag.type === 'category'"
                class="normal"
                :tag="tag.tags"
              />
              <p v-else>{{ tag.tags }}</p>
            </li>
            <template v-else>
              <li v-for="value in tag.tags">
                <BlockTag
                  v-if="tag.type === 'category'"
                  class="normal"
                  :tag="value"
                />
                <p v-else>{{ tag.tags }}</p>
              </li>
            </template>
          </ul>
        </section>
        <section id="info-location" v-if="content.location">
          <h6 class="info-title">Adresse</h6>
          <p class="info-content">
            {{
              content.location.hasOwnProperty("number")
                ? content.location.number + " "
                : ""
            }}
            {{
              content.location.hasOwnProperty("address")
                ? content.location.address + ", "
                : ""
            }}
            {{ content.location.city }}
            {{ content.location.postcode }}
          </p>
        </section>
        <section id="info-date" v-if="content.date?.length > 0">
          <h6 class="info-title">Date</h6>
          <p class="info-content">
            {{ content.enddate?.length > 0 ? "Du " : ""
            }}{{ formatDate(content.date)
            }}{{
              content.enddate?.length > 0
                ? ` au ${formatDate(content.enddate)}`
                : ""
            }}
          </p>
        </section>
        <section id="info-partners" v-if="content.partners?.length">
          <h6 class="info-title">Partenaires</h6>
          <ul>
            <li class="info-partner" v-for="partner in content.partners">
              <a
                :href="partner.link"
                :title="'Aller au site de ' + partner.name"
                target="_blank"
              >
                <img
                  id="img-partner"
                  v-if="partner.url"
                  :src="partner.url"
                  :srcset="partner.srcset"
                  alt="Image"
                />
                <p class="info-content" v-if="partner.name">
                  {{ partner.name }}
                </p>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </header>
  </section>
</template>

<script setup>
import BlockImage from "./blocks/BlockImage.vue"
import BlockTag from "./blocks/BlockTag.vue"
import BlockButton from "./blocks/BlockButton.vue"
import { formatDate } from "../composables/date.js"
import YAML from "/node_modules/yaml"
import { ref } from "vue"

const { content } = defineProps({
  content: Object,
})

const buttons =
  content.buttons?.length > 0 ? YAML.parse(content.buttons) : false

const tags = ref([])
const parsedRepositoryMetadata =
  content.repositorymetadata && content.repositorymetadata.length > 0
    ? YAML.parse(content.repositorymetadata)
    : null

const parsedCardMetadata =
  content.cardmetadata && content.cardmetadata.length > 0
    ? YAML.parse(content.cardmetadata)
    : null

if (parsedRepositoryMetadata) {
  if (parsedRepositoryMetadata.categories) {
    tags.value.push(
      ...parsedRepositoryMetadata.categories
        .map((category) => {
          if (category.value?.length > 0) {
            return {
              name: category.name,
              tags: category.value,
              type: "category",
            }
          }
        })
        .filter(Boolean)
    )
  }

  if (parsedRepositoryMetadata.fields) {
    tags.value.push(
      ...parsedRepositoryMetadata.fields
        .map((field) => {
          if (field.value.length > 0) {
            const node = document.createElement("div")
            node.innerHTML = field.value
            const text = node.querySelector("p")
              ? node.querySelector("p").textContent
              : node.textContent
            return {
              name: field.label,
              tags: text,
              type: "category",
            }
          }
        })
        .filter(Boolean)
    )
  }
}

if (parsedCardMetadata) {
  console.log(parsedCardMetadata)
  tags.value.push(
    ...parsedCardMetadata
      .map((item) => {
        if (item.value.length > 0) {
          const node = document.createElement("div")
          node.innerHTML = item.value
          const text = node.querySelector("p")
            ? node.querySelector("p").textContent
            : node.innerHTML
          return {
            name: item.label,
            tags: text,
            type: "free-field",
          }
        }
      })
      .filter(Boolean)
  )
}
</script>

<style scoped>
/* first column */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#presentation {
  margin-bottom: var(--margin-layout-presentation-bottom);
}

#presentation .first-column,
#presentation .second-column {
  position: sticky;
  top: var(--margin-layout-top);
}

#presentation .first-column {
  width: 40vw;
}
#presentation .second-column {
  width: 30vw;
}

header h1 {
  margin-top: 0;
  word-break: break-word;
  hyphens: none;
}

#description {
  font-size: var(--font-size-text-3);
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 4rem;
}

.first-column .button {
  margin-bottom: var(--margin-heading);
}

/* second column */

.metadata {
  display: flex;
  flex-direction: column;
}

.tags {
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-tag);
}

.metadata p,
.info-content {
  font-size: var(--font-size-text-4);
  font-weight: var(--font-weight-semi-bold);
}

/* partner */

.info-partner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-image);
  margin: var(--margin-image);
  padding-right: var(--padding-block);
  transition: var(--transition);
  border-right: calc(var(--border) * 2) solid transparent;
}

.info-partner a {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  gap: inherit;
}

#img-partner {
  width: var(--image-size-info);
}

.info-partner:hover {
  border-right: calc(var(--border) * 2) solid var(--color-green-light-4);
}

/* MOBILE & TABLET */

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
  }

  #presentation .first-column,
  #presentation .second-column {
    width: 100%;
  }

  #presentation .first-column {
    position: relative;
    top: 0;
  }
  .img-description {
    margin-top: var(--margin-block);
  }

  .img-description img {
    height: var(--block-size-swiper-image);
  }
}
</style>
