<template>
  <div class="overlay" @click="close"></div>
  <div id="modal">
    <section id="card-form">
      <button class="button small tertiary empty" id="close" @click="close">
        <img class="small" src="/assets/svg/close.svg" alt="" />
      </button>
      <template v-if="serverResponse === 'waiting'">
        <h2>Ajouter une fiche à {{ content.title }}</h2>
        <p id="intro">
          Vous pouvez proposer une fiche au sein du répertoire “Nom du
          répertoire”, l’équipe de Mady se chargera de la valider dans un second
          temps. Au besoin elle pourra prendre contact avec vous.
        </p>
        <form @submit.prevent="submitForm">
          <h5 class="title-field">Auteur·rice de la fiche</h5>
          <div class="field">
            <label for="name">Prénom Nom</label>
            <input
              v-model="formData.authorName"
              type="text"
              name="name"
              id="name"
              required
              placeholder="Ex : Marie Poppins"
            />
            <p class="info">
              Ces informations ne seront pas publiées sur le site.
            </p>
          </div>
          <div class="field">
            <label for="email">Email</label>
            <input
              v-model="formData.authorMail"
              type="emai"
              name="email"
              id="email"
              required
              placeholder="Ex : marie.poppins@laposte.net"
            />
            <p class="info">
              Ces informations ne seront pas publiées sur le site.
            </p>
          </div>
          <h5 class="title-field">Présentation de la fiche</h5>
          <div class="field">
            <label for="title">Titre de la fiche</label>
            <input
              v-model="formData.title"
              type="text"
              name="title"
              id="title"
              maxlength="50"
              required
              placeholder="Ex : La ferme de Marie"
            />
            <p class="info">50 caractères maximum</p>
          </div>
          <div class="field">
            <label for="description">Description</label>
            <textarea
              v-model="formData.description"
              name="description"
              id="description"
              placeholder="Ex : La ferme de Marie est un lieu de production engagé depuis plus de 10 ans. Tous les légumes sont bios et de saison..."
            />
          </div>

          <h5 class="title-field">Image de couverture</h5>
          <div class="field field--image">
            <input id="cover" type="file" @input="updateFileButton" />
            <div class="file-button-wrapper">
              <label class="button secondary" for="cover">
                Importer une image
              </label>
              <button class="clear-file hidden" @click="clearFile">
                Supprimer <img src="/assets/svg/close.svg" alt="" />
              </button>
            </div>
            <p class="info">
              Attention ! Importez uniquement des images dont vous avez les
              droits, ou des images libres de droits.
            </p>
            <div class="field">
              <label for="cover-alt">Texte alternatif</label>
              <input
                v-model="formData.cover.alt"
                type="text"
                name="cover-alt"
                id="cover-alt"
                placeholder="Ex : Les paniers de Marie"
              />
              <p class="info">
                Le texte alternatif permet de fournir une alternative textuelle
                à l’image pour les personnes mal voyantes ou en cas
                d'impossibilité de charger l'image.
              </p>
            </div>
          </div>

          <template v-if="formData.categories || formData.form">
            <h5 class="title-field informations">Informations de la fiche</h5>
            <div
              class="field"
              v-if="
                content.hasOwnProperty('enablelocation') &&
                content.enablelocation === 'true'
              "
            >
              <label for="location">Localisation</label>
              <input
                v-model="formData.location"
                type="text"
                name="location"
                id="location"
                required
                placeholder="Ex : 43 rue Paul Guieysse, Lorient"
              />
              <p class="info">
                Vous pouvez renseigner seulement le nom de la municipalité ou
                l'adresse complète.
              </p>
            </div>
            <div
              class="field category"
              v-for="category in formData.categories"
              :key="category.name"
            >
              <FilterButton :category="category" />
              <p class="info required hidden">Merci de compléter ce champ.</p>
            </div>
            <div
              class="field"
              v-for="item in formData.freeFields"
              :key="item.label"
            >
              <label for="name">{{ item.label }}</label>
              <input
                v-model="item.value"
                type="text"
                :name="item.label"
                :id="item.label"
                placeholder="Ex : Bio"
              />
            </div>
          </template>

          <template
            v-if="
              content.hasOwnProperty('enabledate') &&
              content.enabledate == 'true'
            "
          >
            <h5 class="title-field">Temporalité</h5>
            <div class="field">
              <label for="start">Date</label>
              <input
                v-model="formData.date.startDate"
                type="date"
                name="start"
                id="start"
                required
              />
            </div>
            <div class="field">
              <label for="end">Jusqu'au</label>
              <input
                v-model="formData.date.endDate"
                type="date"
                name="end"
                id="end"
              />
              <p class="info">Facultatif.</p>
            </div>
            <div class="field">
              <label for="expiration">Expiration</label>
              <label class="toggle">
                <input
                  type="checkbox"
                  name="expiration"
                  id="expiration"
                  v-model="formData.date.isExpiring"
                />
                <span class="slider"></span>
              </label>
            </div>
            <p class="info">
              L’évènement ne sera plus visible sur le jour 2 jours après sa fin.
            </p>
          </template>

          <section id="custom-blocks">
            <h5>Contenus libres</h5>
            <p>
              Complétez votre fiche en ajoutant librement des contenus. Cette
              étape est facultative.
            </p>
            <div id="blocks-container">
              <template v-for="block in formData.blocks" :key="block.id">
                <div v-if="block.type === 'text'" class="field">
                  <label for="description">Texte</label>
                  <textarea
                    v-model="block.content.text"
                    name="text"
                    placeholder="Ex : La ferme de Marie est un lieu de production engagé depuis plus de 10 ans. Tous les légumes sont bios et de saison..."
                  />
                </div>

                <template v-if="block.type === 'image'">
                  <h5 class="title-field">Image</h5>
                  <div class="field field--image" :id="block.id">
                    <input type="file" @input="updateFileButton" />
                    <div class="file-button-wrapper">
                      <label class="button secondary" for="cover">
                        Importer une image
                      </label>
                      <button class="clear-file hidden" @click="clearFile">
                        Supprimer <img src="/assets/svg/close.svg" alt="" />
                      </button>
                    </div>
                    <p class="info">
                      Attention ! Importez uniquement des images dont vous avez
                      les droits, ou des images libres de droits.
                    </p>
                    <div class="field">
                      <label for="cover-alt">Texte alternatif</label>
                      <input
                        v-model="block.content.alt"
                        type="text"
                        name="alt"
                        placeholder="Ex : Les paniers de Marie"
                      />
                      <p class="info">
                        Le texte alternatif permet de fournir une alternative
                        textuelle à l’image pour les personnes mal voyantes ou
                        en cas d'impossibilité de charger l'image.
                      </p>
                    </div>
                  </div>
                </template>

                <div v-if="block.type === 'heading'" class="field">
                  <label for="heading">Titre</label>
                  <input
                    v-model="block.content.text"
                    type="text"
                    name="heading"
                    placeholder="Ex : Marie Poppins"
                  />
                  <div class="level-wrapper">
                    <RadioButton
                      :category="{
                        name: 'niveau',
                        tags: ['h2', 'h3', 'h5', 'h5'],
                      }"
                      :block="block"
                    />
                  </div>
                </div>
                <template v-if="block.type === 'mady-button'">
                  <h5 class="title-field">Bouton</h5>
                  <div class="field">
                    <label for="mady-button-text">Texte du bouton</label>
                    <input
                      v-model="block.content.text"
                      type="text"
                      name="mady-button-text"
                      placeholder="Ex : Marie Poppins"
                    />
                  </div>
                  <div class="field">
                    <label for="mady-button-link">Lien du bouton</label>
                    <input
                      v-model="block.content.link"
                      type="text"
                      name="mady-button-link"
                      placeholder="Ex : https://madynco.fr"
                    />
                  </div>
                </template>
                <div class="remove-block-wrapper">
                  <button
                    class="remove-block"
                    @click="removeBlock(block)"
                    type="button"
                  >
                    Supprimer
                  </button>
                </div>
              </template>
            </div>
            <div id="add-blocks">
              <button
                class="button small secondary"
                id="add-text"
                type="button"
                @click="addBlock('heading')"
              >
                Ajouter un titre
                <img class="small" src="/assets/svg/plus.svg" alt="" />
              </button>
              <button
                class="button small secondary"
                id="add-text"
                type="button"
                @click="addBlock('text')"
              >
                Ajouter un texte
                <img class="small" src="/assets/svg/plus.svg" alt="" />
              </button>
              <button
                class="button small secondary"
                id="add-text"
                type="button"
                @click="addBlock('image')"
              >
                Ajouter une image
                <img class="small" src="/assets/svg/plus.svg" alt="" />
              </button>
              <button
                class="button small secondary"
                id="add-button"
                type="button"
                @click="addBlock('mady-button')"
              >
                Ajouter un bouton
                <img class="small" src="/assets/svg/plus.svg" alt="" />
              </button>
            </div>
          </section>
          <div id="form-footer">
            <button id="submit" class="button small primary" type="submit">
              {{ submitBtnText }}
              <img
                id="submit__icon"
                class="small"
                :class="submitBtnClass"
                :src="submitBtnIcon"
                alt=""
              />
            </button>
          </div>
        </form>
      </template>
      <div
        v-else-if="serverResponse === 'success'"
        class="response-message"
        id="validated"
      >
        <p>Votre proposition de fiche a bien été envoyée !</p>
      </div>
      <div v-else id="error">
        <p>
          L'envoi de votre proposition n'a pas pu aboutir en raison d'un
          problème technique. Veuillez réessayer plus tard.
        </p>
      </div>
    </section>
  </div>
</template>

<script setup>
import { onBeforeUnmount, onMounted, ref } from "vue"
import FilterButton from "./FilterButton.vue"
import RadioButton from "./RadioButton.vue"

onMounted(() => {
  document.querySelector("body").classList.add("no-scroll")
  document.addEventListener("keydown", handleEscapeKey)
})

onBeforeUnmount(() => {
  document.querySelector("body").classList.remove("no-scroll")
  document.removeEventListener("keydown", handleEscapeKey)
})

const { content } = defineProps({
  content: Object,
})

const serverResponse = ref("waiting")

const submitBtnIcon = ref("/assets/svg/send.svg")
const submitBtnText = ref("Envoyer")
const submitBtnClass = ref("")

const formData = ref({
  parentRepository: content.title,
  cover: {
    b64: "",
    name: "",
    alt: "",
  },
  authorName: "",
  authorMail: "",
  title: "",
  description: "",
  blocks: [],
  categories: content.hasOwnProperty("categories")
    ? JSON.parse(JSON.stringify(content.categories))
    : false,
  freeFields: content.hasOwnProperty("form")
    ? content.form.length === 0
      ? []
      : content.form.split(",").map((item) => {
          return {
            label: item.trim(),
            value: "",
          }
        })
    : false,
  location:
    content.hasOwnProperty("enablelocation") &&
    content.enablelocation === "true"
      ? ""
      : false,
  date:
    content.hasOwnProperty("enabledate") && content.enabledate === "true"
      ? {
          startDate: "",
          endDate: "",
          isExpiring: true,
        }
      : false,
})

const emit = defineEmits()

function close() {
  emit("close")
}

async function submitForm() {
  // Get a clean normal object from a Vue object

  if (
    formData.value.hasOwnProperty("categories") &&
    formData.value.categories.some(
      (category) => category.selection.length === 0
    )
  ) {
    signalCategories()
    return
  }

  submitBtnText.value = "En cours…"
  submitBtnIcon.value = "/assets/svg/loader.svg"
  submitBtnClass.value = "loading"

  const requestBody = JSON.stringify(JSON.parse(JSON.stringify(formData.value)))

  try {
    const response = await fetch("/submit-card.json", {
      method: "POST",
      headers: {
        "Content-type": "application/json",
      },
      body: requestBody,
    })

    if (response.ok) {
      const responseData = await response.json()

      console.log("Réponse du serveur :", responseData)
      serverResponse.value = "success"
    } else {
      console.log("Form submit failed.", response)
      serverResponse.value = "error"
    }
  } catch (error) {
    console.log("Error during form submit", error)
  }
}

function signalCategories() {
  document.querySelector(".informations").scrollIntoView({
    behavior: "smooth",
    block: "start",
    inline: "nearest",
  })
  document.querySelectorAll(".field.category").forEach((category) => {
    category.querySelector(".filter").classList.add("empty")
    category.querySelector(".info").classList.remove("hidden")
  })
}

function handleEscapeKey(event) {
  if (event.key === "Escape") {
    close()
  }
}

function updateFileButton(e) {
  const button = e.target.nextElementSibling.querySelector("label")
  const clearButton = e.target.nextElementSibling.querySelector(".clear-file")
  const input = e.target
  const file = input.files[0]

  if (input.id === "cover") {
    const reader = new FileReader()
    reader.onloadend = () => {
      const base64String = reader.result.split(",")[1]

      formData.value.cover.b64 = base64String
    }
    reader.readAsDataURL(file)
    formData.value.cover.name = file.name
  } else {
    setCorrespondingBlockContent(input.closest(".field").id, file)
  }
  button.textContent = file.name
  clearButton.classList.remove("hidden")
}

function setCorrespondingBlockContent(blockId, file) {
  setBlockImageBase64(blockId, file)
  setBlockImageName(blockId, file)
}

function setBlockImageBase64(blockId, file) {
  const reader = new FileReader()
  reader.onloadend = () => {
    const base64String = reader.result.split(",")[1]

    const index = formData.value.blocks.findIndex(
      (block) => block.id == blockId
    )

    if (index !== -1) {
      formData.value.blocks[index].content.b64 = base64String
    }
  }
  reader.readAsDataURL(file)
}

function setBlockImageName(blockId, file) {
  const index = formData.value.blocks.findIndex((block) => block.id == blockId)

  if (index !== -1) {
    formData.value.blocks[index].content.name = file.name
  }
}

function clearFile(e) {
  e.preventDefault()
  e.target.classList.add("hidden")
  const fileInput = e.target.parentNode.parentNode.querySelector("input")
  const label = e.target.parentNode.querySelector("label")
  label.textContent = "Importer une image"
  fileInput.value = ""
}

function addBlock(type) {
  const newBlock = createNewBlock(type)
  formData.value.blocks.push(newBlock)
}

function createNewBlock(type) {
  const newBlock = {
    type: type,
    content: {},
    id: Date.now(),
  }
  if (type === "image") {
    newBlock.content.b64 = ""
    newBlock.content.alt = ""
  } else if (type === "text") {
    newBlock.content.text = ""
  } else if (type === "heading") {
    newBlock.content.text = ""
    newBlock.content.level = ""
  } else if (type === "mady-button") {
    newBlock.content.text = ""
    newBlock.content.link = ""
    newBlock.content.type = "primary"
  }
  return newBlock
}

function removeBlock(block) {
  formData.value.blocks = formData.value.blocks.filter(
    (item) => item.id !== block.id
  )
}
</script>

<style>
/* modal */

#modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  z-index: 1000;
  pointer-events: none;
}

#card-form {
  display: flex;
  flex-direction: column;
  margin: var(--margin-block);
  padding: 0 13vw;
  background-color: var(--color-white);
  border-radius: var(--border-radius-normal);
  pointer-events: all;
}

#close {
  position: absolute;
  right: calc(var(--margin-block) * 2);
  top: calc(var(--margin-block) * 2);
}

.field,
#intro {
  width: 70%;
}

/* field */

.field label {
  display: block;
  font-size: var(--font-size-text-3);
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: var(--space-01);
}

.info.required {
  color: var(--color-error);
}

.title-field {
  margin-top: var(--margin-hr-main);
}

.field {
  display: flex;
  flex-direction: column;
  margin: var(--margin-block) var(--margin-text-col-1) 0 0;
}

.info {
  margin-top: calc(var(--space-01));
  color: var(--color-grey-dark);
  font-size: var(--font-size-text-5);
}

.file-button-wrapper {
  display: flex;
  align-items: center;
}

.clear-file {
  z-index: 1;
  margin-left: 1rem;
  font-size: var(--font-size-text-3);
  font-weight: var(--font-weight-bold);
}
.clear-file img {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
}

.field input[type="file"] {
  width: 20;
  cursor: pointer;
  position: absolute;
  padding: 0;
  opacity: 0;
}

.field input::file-selector-button {
  width: 12.5rem;
  height: 2.9rem;
}

/* textarea */

.field textarea {
  height: calc(var(--space-20) * 2.25); /* 360px */
}

/* toggle */

.slider:before {
  content: url("/assets/svg/close-white.svg");
}

input:checked + .slider:before {
  content: url("/assets/svg/check-white.svg");
}

input + .slider::after {
  content: "désactivé";
}

input:checked + .slider::after {
  content: "activé";
}

/* button blocks */

#blocks {
  display: flex;
  flex-direction: column;
  gap: var(--margin-block);
}

#add-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-button);
  margin-top: var(--margin-button-top);
}

.remove-block-wrapper {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  margin: var(--margin-block) var(--margin-text-col-1) 0 0;
}

.remove-block {
  padding: 0;
  font-weight: 600;
}

.level-wrapper {
  display: flex;
  justify-content: space-between;
}

/* footer */

#form-footer {
  display: flex;
  justify-content: right;
  margin: var(--margin-block) 0;
}

#submit {
  font-weight: 600;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#submit__icon.loading {
  animation: rotating 2s linear infinite;
}

/* overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 999;
  transition: var(--transition);
}

.response-message {
  margin: 3rem 0;
  display: flex;
  align-items: center;
}

.response-message#validated::before,
.response-message#error::before {
  display: flex;
  margin-right: 1rem;
  height: 1rem;
  padding: 0.2rem;
  margin-top: -0.5rem;
}

.response-message#error {
  color: var(--color-error);
}

.response-message#validated::before {
  content: url("/assets/svg/validated.svg");
  border: 1px solid #000;
  border-radius: 3rem;
}
.response-message#error::before {
  content: url("/assets/svg/alert.svg");
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 800px) {
  #card-form {
    padding: 0 var(--margin-layout-horizontal);
  }
  .field,
  .field #intro {
    width: 100% !important;
  }
}
</style>
