<template>
  <div v-html="nlToBrText" class="description"></div>
</template>

<script setup>
const { text } = defineProps({
  text: String,
})

const nlToBrText = text ? text.replaceAll("\n", "<br>") : ""
</script>

<style scoped>
.description {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-text-3);
  margin-right: var(--margin-text-col-1);
  margin-bottom: var(--margin-layout-presentation-bottom);
}
</style>
