<template>
  <div class="divider-wrapper">
    <h5 v-if="title">{{ title }}</h5>
    <hr :class="{ main: level === 'main' }" />
  </div>
</template>

<script setup>
const { level, title } = defineProps({
  level: String,
  title: String,
})
</script>

<style scoped>
.divider-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
h5 {
  margin: 0;
  margin-right: var(--margin-heading-line-right);
  white-space: nowrap;
}
hr {
  width: 100%;
  border: none;
  height: var(--border);
  background-color: var(--color-blue-dark-1);
}
hr.main {
  margin: var(--margin-hr-main) 0;
}
</style>
