<template>
  <li class="filter" :class="{ open: isOpen }" ref="categoryWrapper">
    <button
      type="button"
      class="category large secondary round-border"
      @click="isOpen = !isOpen"
    >
      {{ category.name }}
      <span class="selection-count" v-if="category.selection.length > 0">{{
        category.selection.length
      }}</span>
    </button>
    <hr v-if="isOpen" />
    <ul v-if="isOpen" class="tags">
      <li
        v-for="tag in category.tags"
        class="tag"
        :class="{ selected: isInSelection(tag) }"
        @click="toggleTag(tag, $event)"
        @mouseenter="$event.target.classList.add('hovered')"
        @mouseleave="$event.target.classList.remove('hovered')"
      >
        {{ tag }}
      </li>
    </ul>
  </li>
</template>

<script setup>
import { ref, onMounted } from "vue"

const { category } = defineProps({
  category: String,
})

const isOpen = ref(false)
category.selection = []

const categoryWrapper = ref(null)

onMounted(() => {
  document.addEventListener("click", handleClickOutside)
})

function toggleTag(tag, event) {
  // DO NOT REMOVE THE TIMEOUT
  // necessary 0 delay to apply the class
  setTimeout(() => {
    event.target.classList.add("hovered")
  }, 0)

  const index = category.selection.indexOf(tag)
  if (index === -1) {
    category.selection.push(tag)
  } else {
    category.selection.splice(index, 1)
  }
}

function isInSelection(tag) {
  return category.selection.some((selectedTag) => selectedTag === tag)
}

function handleClickOutside(event) {
  if (categoryWrapper.value && !categoryWrapper.value.contains(event.target)) {
    isOpen.value = false
  }
}
</script>

<style scoped>
.filter {
  z-index: 1;
  height: fit-content;
  margin-right: var(--font-size-text-3);
  overflow: hidden;
  transition: var(--transition);
}

.filter.empty .category {
  border-color: var(--color-error);
}

.category {
  height: var(--button-size-large);
  font-size: var(--font-size-text-3);
  font-weight: var(--font-weight-bold);
  border-color: var(--color-grey-light);
  background-color: #fff;
}

.category:hover {
  border-color: var(--color-blue-dark-1);
}

.category::after {
  content: url("/assets/svg/dropdown.svg");
  display: flex;
  align-content: center;
}

.selection-count {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--space-02);
  border-radius: var(--border-radius-large);
  background-color: var(--color-green-light-4);
  height: var(--button-icon-size-normal); /* 20px */
  width: var(--button-icon-size-normal); /* 20px */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-text-4);
  transition: var(--transition);
}

.open {
  height: var(--button-size-large);
  overflow: visible;
  z-index: 2;
}

.open .category {
  border-color: var(--color-blue-dark-1);
}

.filter.open .category::after {
  transform: scaleY(-1);
  transition: var(--transition);
}

hr {
  display: none;
  margin: 0;
  border-top: var(--border) solid var(--color-grey-light);
}

.tags {
  position: absolute;
  margin-top: var(--space-01);
  min-width: 200px;
  border: var(--border) solid var(--color-blue-dark-1);
  border-radius: var(--border-radius-normal);
  background-color: var(--color-white);
  overflow: hidden;
}

.tag {
  cursor: pointer;
  padding: var(--space-01) var(--padding-button-horizontal);
  font-size: var(--font-size-text-4);
  font-weight: var(--font-weight-bold);
  transition: var(--transition);
}
.tag:hover {
  background: var(--color-green-light-5) !important;
  transition: var(--transition);
}
.tag.selected {
  background: var(--color-green-light-4);
  transition: var(--transition);
  display: flex;
}
.tag.selected::after {
  content: url("/assets/svg/check.svg");
  display: flex;
  align-items: center;
  margin-left: var(--space-02);
  transition: var(--transition);
}
.tag.selected.hovered::after {
  content: url("/assets/svg/close.svg");
  transition: var(--transition);
}

@media screen and (max-width: 800px) {
  .filter {
    margin-bottom: 1rem;
  }

  .category {
    width: 100%;
  }
  .tags {
    position: relative;
    z-index: 1;
  }
}
</style>
