<template>
  <footer>
    <ul>
      <li>
        <a href="/mentions-legales">Mentions légales</a>
      </li>
      <li>
        <a href="/credits">Crédits</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </footer>
</template>

<script setup></script>

<style scoped>
footer {
  width: 100%;
  text-align: right;
  margin-top: var(--margin-footer-top);
}

ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: var(--gap-footer);
}

a {
  font-size: var(--font-size-text-3);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-grey-dark);
  white-space: nowrap;
  transition: var(--transition);
}

/* hover */

ul li:hover,
a:hover {
  color: var(--color-blue-dark-1);
}

/* focus-visible */

a:focus-visible {
  outline: solid var(--outline) var(--color-blue-dark-1);
  outline-offset: calc(var(--outline) * 2);
  border-radius: var(--border-radius-small);
}
</style>
