<template>
  <header
    :class="{ submenu: subpages, menuHidden: !menuVisible }"
    @mouseleave="handleHeaderHoverLeave"
  >
    <nav v-if="device === 'desktop'" id="desktop">
      <ul id="menu">
        <li class="logo">
          <a href="/" title="Aller à l'accueil">
            <img :src="logo" alt="Logo" />
          </a>
        </li>
        <li class="home">
          <p>
            <a
              href="/"
              id="home-link"
              class="category"
              title="Aller à l'accueil"
              @mouseenter="handleHomeLinkHoverEnter"
              @mouseleave="handleHomeLinkHoverLeave"
              >Mady & Co</a
            >
          </p>
        </li>
        <template v-for="mainPage in nav">
          <li
            v-if="mainPage.children"
            class="category"
            :class="{
              active: page.uri.includes(mainPage.uri),
              hover: mainPage.uri === hoveredCategoryTitle,
            }"
            :key="mainPage.title"
            @mouseenter="handleHover(mainPage, $event)"
          >
            <p
              class="category-title"
              :class="{ active: page.uri.includes(mainPage.uri) }"
            >
              {{ mainPage.title }}
            </p>
          </li>
        </template>
      </ul>
      <ul id="submenu" v-if="subpages">
        <li
          v-for="subpage in subpages"
          class="page"
          :class="{ active: page.uri.includes(subpage.uri) }"
          :key="subpage.title"
          @mouseenter="addHoverClass"
          @mouseleave="removeHoverClass"
        >
          <a
            class="page-title"
            :class="{ active: page.uri.includes(subpage.uri) }"
            :href="subpage.url"
            >{{ subpage.title }}</a
          >
        </li>
      </ul>
    </nav>
    <div v-else id="mobile-wrapper" :class="{ open: isMobileNavOpen }">
      <div id="mobile-header">
        <a id="home-link" href="./" title="Aller à l'accueil">
          <img :src="logo" alt="Logo" class="logo" />
          MADY & CO
        </a>
        <button
          id="burger"
          class="normal empty tertiary"
          :title="isMobileNavOpen ? 'Fermer le menu' : 'Ouvrir le menu'"
          @click="isMobileNavOpen = !isMobileNavOpen"
        >
          <img
            v-if="!isMobileNavOpen"
            class="normal empty tertiary"
            src="/assets/svg/burger.svg"
            alt="Barres représentants le bouton d'ouverture du menu."
          />
          <img
            v-else
            src="/assets/svg/close.svg"
            alt="Croix représentant le bouton de fermeture du menu."
          />
        </button>
      </div>

      <nav v-if="isMobileNavOpen" id="mobile">
        <ul id="category-list">
          <template v-for="category in interactiveNav">
            <li
              v-if="category.children"
              class="category"
              :class="{ open: category.isOpen }"
            >
              <button
                class="category-header normal"
                @click="category.isOpen = !category.isOpen"
              >
                <p :href="'/' + category.uri" class="category-title">
                  {{ category.title }}
                </p>
                <img
                  class="normal"
                  src="/assets/svg/dropdown.svg"
                  alt="Chevron représentant le bouton de de déploiement / repliage de la catégorie."
                />
              </button>
              <ul v-if="category.isOpen" class="submenu">
                <li
                  v-for="subcategory in category.children"
                  class="page normal"
                >
                  <a :href="subcategory.url" class="page-title">
                    {{ subcategory.title }}
                  </a>
                </li>
              </ul>
            </li>
          </template>
        </ul>
        <!-- <button class="cta normal">Devenez coopérateur</button> -->
        <ul id="static-pages">
          <li>
            <a href="/contact">contact</a>
          </li>
          <li>
            <a href="/mentions-legales">Mentions légales</a>
          </li>
          <li>
            <a href="credits">Crédits</a>
          </li>
        </ul>
      </nav>
    </div>

    <a
      v-if="device === 'desktop'"
      class="button cta normal"
      href="/devenir-cooperateur"
    >
      Devenez coopérateur
    </a>
  </header>
</template>

<script setup>
import { ref, onMounted, onBeforeUnmount, watch, computed } from "vue"
import logo from "/assets/svg/logo.svg"
import { device } from "../composables/responsive"

const subpages = ref(null)

const { nav } = defineProps({
  nav: Array,
  page: Object,
})

const interactiveNav = ref(
  nav.map((category) => {
    category.isOpen = false
    return category
  })
)

const isMobileNavOpen = ref(false)

const hoveredCategoryTitle = computed(() => {
  if (!subpages.value || subpages.value === null) return false
  const hoveredCategoryTitle = subpages.value[0].uri.split("/")[0]
  return hoveredCategoryTitle
})

watch(isMobileNavOpen, () => {
  document.body.classList.toggle("no-scroll")
})

const menuVisible = ref(true)
let lastScrollPosition = 0

function setSubmenu(page) {
  subpages.value = page.children ? page.children : null
}

function handleScroll() {
  const scrollY = window.scrollY || window.pageYOffset

  menuVisible.value = scrollY < lastScrollPosition
  isMobileNavOpen.value = false
  lastScrollPosition = scrollY
}

function handleHomeLinkHoverEnter() {
  document.querySelector("#home-link").classList.add("hover")
  document.querySelector("#menu").classList.add("hover")
  subpages.value = false
}
function handleHomeLinkHoverLeave() {
  document.querySelector("#home-link").classList.remove("hover")
  document.querySelector("#menu").classList.remove("hover")
}

function handleHover(category, event) {
  setSubmenu(category)
  addHoverClass(event)
}

function handleHeaderHoverLeave() {
  subpages.value = false
  document.querySelector("#menu").classList.remove("hover")
}

function addHoverClass(e) {
  e.target.classList.add("hover")
  document.querySelector("#menu").classList.add("hover")
}
function removeHoverClass(e) {
  e.target.classList.remove("hover")
  document.querySelector("#menu").classList.remove("hover")
}

onMounted(() => {
  window.addEventListener("scroll", handleScroll)
})

onBeforeUnmount(() => {
  window.removeEventListener("scroll", handleScroll)
})
</script>

<style scoped>
/* header primary */

* {
  font-family: var(--font-family-title), sans-serif;
}

p {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--padding-header-vertical) var(--padding-header-horizontal);
  width: calc(100vw - calc(var(--padding-header-horizontal) * 2));
  z-index: 997;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-background);

  transition: transform 0.3s ease;
  transform: translateY(0);
}

header.menuHidden {
  transform: translateY(-100%);
}
header.submenu {
  padding-bottom: var(--padding-submenu-bottom);
  z-index: 999;
  transition: var(--transition);
}

ul {
  display: flex;
}

/* logo */

.logo {
  position: relative;
  width: var(--button-icon-size-small);
  left: calc(0px - var(--padding-header-right));
  margin-right: calc(0px - var(--button-icon-size-small));
  align-self: center;
}

/* home */

#home-link {
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

/* menu */

.category,
.page {
  text-transform: uppercase;
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-blue-dark-1);
  padding-right: var(--padding-header-right);
}

#submenu {
  position: absolute;
  margin-top: var(--padding-header-vertical);
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

#submenu .page-title {
  text-transform: none;
}

.page-title {
  padding: 0 calc(var(--padding-button-horizontal) / 2);
  border-radius: var(--border-radius-small);
  transition: var(--transition);
}

/* hover */

#menu.hover .category:not(.hover) {
  opacity: 0.5;
  transition: var(--transition);
}

#submenu .page-title:hover {
  background: var(--color-green-light-5);
}

/* active */

.category-title.active,
.page-title.active {
  border-bottom: var(--border) solid var(--color-blue-dark-1);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* focus-visible */

a:focus-visible {
  outline: solid var(--outline) var(--color-blue-dark-1);
  outline-offset: calc(var(--outline) * 2);
  border-radius: var(--border-radius-small);
}

/* MOBILE & TABLET */

@media screen and (max-width: 800px) {
  #mobile-wrapper {
    width: 100%;
  }
  #mobile-wrapper.open {
    display: flex;
    flex-direction: column;
    height: calc(100vh - calc(var(--padding-header-vertical) * 2));
    overflow-y: scroll;
  }

  .logo {
    left: 0;
    margin-right: calc(var(--padding-header-right) / 2);
  }

  #home-link {
    width: 100%;
  }

  #close-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  #burger {
    position: fixed;
    right: calc(
      var(--padding-header-horizontal) - var(--padding-button-vertical)
    );
    background: var(--color-background);
    z-index: 1;
  }

  nav#mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    height: 100%;
  }

  #mobile-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-text-2);
  }

  /* category */

  #category-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--padding-header-vertical);
    transition: var(--transition);
    margin-bottom: var(--space-04);
  }

  .category {
    padding-right: 0;
    text-transform: none;
    transition: var(--transition);
  }

  .category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--button-size-normal);
    padding: 0;
    font-size: var(--font-size-text-2);
    text-transform: uppercase;
    transition: var(--transition);
  }

  .category-header button {
    padding: 0;
  }

  .category-header img {
    width: 0.8rem;
    height: 0.8rem;
  }

  .category.open .category-header img {
    transform: rotate(180deg);
  }

  .submenu {
    display: block;
    margin-bottom: var(--padding-header-vertical);
    transition: var(--transition);
  }

  .page {
    display: flex;
    align-items: center;
    padding-right: 0;
    font-size: var(--font-size-text-2);
    font-weight: var(--font-weight-regular);
  }

  .cta {
    display: flex;
    width: 100%;
    margin: var(--space-03) 0;
    font-size: var(--font-size-text-2);
  }

  #static-pages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--gap-footer);
  }
  #static-pages li {
    margin: var(--space-02) 0;
  }

  #static-pages li::first-letter {
    text-transform: uppercase;
  }

  .page:not(:nth-child(-n + 2)),
  a.active {
    border: none;
  }
}
</style>
