<template>
  <div id="map" ref="mapNode"></div>
</template>

<script setup>
import { onMounted, ref, watch } from "vue";
import { filteredItems } from "../composables/search";

watch(filteredItems, (newCards) => {
  map.remove();
  initMap();
});

const mapNode = ref(null);
let map;

function scrollToMap() {
  const yOffset = -200;
  window.scrollTo({
    top: mapNode.value.getBoundingClientRect().top + window.scrollY + yOffset,
    behavior: "smooth",
  });
}

function extractCoordinates(location) {
  const latMatch = location.match(/lat: ["']?([-+]?\d+\.\d+)["']?/);
  const lonMatch = location.match(/lon: ["']?([-+]?\d+\.\d+)["']?/);
  try {
    const longitude = parseFloat(lonMatch[1]);
    const latitude = parseFloat(latMatch[1]);
    return { latitude, longitude };
  } catch (error) {
    console.error("error with location : ", location);
  }
}

function createMarkers(cards) {
  const markers = [];
  cards.forEach((card) => {
    const marker = createMarker(card, cards);
    markers.push(marker);
  });
  return markers;
}

function shift(number, factor) {
  const difference = Math.random() * (factor - -factor) + -factor;

  return number + difference;
}

function createMarker(card, cards) {
  if (card.content.location.length === 0) return;
  let { latitude, longitude } = extractCoordinates(card.content.location);

  if (cards.some((item) => item.content.location === card.content.location)) {
    longitude = shift(longitude, 0.001);
    latitude = shift(latitude, 0.001);
  }

  const marker = {
    type: "Feature",
    properties: {
      message: card.content.title,
      iconSize: [28, 50],
      headerImage: card.content.headerimage,
      title: card.content.title,
      description: card.content.description,
      url: card.url,
    },
    geometry: {
      type: "Point",
      coordinates: [longitude, latitude],
    },
  };

  return marker;
}

function createMarkerElement(marker) {
  if (!marker) return;
  const el = document.createElement("div");
  el.className = "marker";
  el.style.backgroundImage = "url(/assets/svg/pin.svg)";
  el.style.backgroundRepeat = "no-repeat";
  el.style.backgroundPosition = "center";
  el.style.width = `${marker.properties.iconSize[0]}px`;
  el.style.height = `${marker.properties.iconSize[1]}px`;

  const cardPreview = document.createElement("div");
  cardPreview.classList.add("card-preview");

  const cardLink = document.createElement("a");
  cardLink.classList.add("card-preview-link");
  cardLink.href = marker.properties.url;
  cardLink.title = "Aller à la fiche";

  if (marker.properties.headerImage) {
    const imageWrapper = document.createElement("figure");
    imageWrapper.classList.add("card-preview-image-wrapper");

    const cardHeaderImage = document.createElement("img");
    cardHeaderImage.classList.add("card-preview-img");
    cardHeaderImage.setAttribute("src", marker.properties.headerImage.url);
    cardHeaderImage.setAttribute(
      "srcset",
      marker.properties.headerImage.srcset
    );

    imageWrapper.appendChild(cardHeaderImage);
    cardLink.appendChild(imageWrapper);
  }

  const cardTitle = document.createElement("h5");
  cardTitle.classList.add("card-preview-title");
  cardTitle.textContent = marker.properties.title;
  cardLink.appendChild(cardTitle);

  const cardDescription = document.createElement("div");
  cardDescription.classList.add("card-preview-description");
  cardDescription.innerHTML = marker.properties.description;

  cardLink.appendChild(cardDescription);
  cardPreview.appendChild(cardLink);

  el.appendChild(cardPreview);

  el.addEventListener("click", (event) => {
    if (el.classList.contains("show")) {
      el.querySelector(".show").classList.remove("show");
      el.classList.remove("show");
    } else {
      const shownElements = document.querySelectorAll(
        ".card-preview.show, .marker.show"
      );

      map.flyTo({
        center: [
          marker.geometry.coordinates[0] + 0.007,
          marker.geometry.coordinates[1] - 0.002,
        ],
        zoom: 14,
      });

      shownElements.forEach((shownCard) => {
        shownCard.classList.remove("show");
      });

      const markerNode = event.target;

      markerNode.classList.add("show");

      const previewNode = markerNode.querySelector(".card-preview");
      setTimeout(() => {
        previewNode.classList.toggle("show");
      }, 10);
    }
  });

  return el;
}

function initMap() {
  const markers = createMarkers(filteredItems.value);

  const geojson = {
    type: "FeatureCollection",
    features: markers,
  };

  map = new maplibregl.Map({
    container: "map",
    style:
      "https://api.maptiler.com/maps/streets/style.json?key=1xgYiNMEhOBLFXttdrfa",
    center: [-3.36, 47.78],
    zoom: 8.5,
  });

  geojson.features.forEach((marker) => {
    if (!marker) return;
    const el = createMarkerElement(marker);

    try {
      new maplibregl.Marker({ element: el, anchor: "bottom" })
        .setLngLat(marker.geometry.coordinates)
        .addTo(map);
    } catch (error) {
      console.error(
        "error for item : ",
        marker.properties.title,
        marker.geometry.coordinates
      );
    }
  });

  mapNode.value.addEventListener("click", (e) => {
    const isTargetMarker = e.target.classList.contains("marker");
    const shownEls = document.querySelectorAll("#map .show");
    if (!isTargetMarker && shownEls) {
      shownEls.forEach((item) => item.classList.remove("show"));
    }
  });
}

onMounted(() => {
  scrollToMap();

  initMap();
});
</script>

<style>
/* LES STYLES DE CE COMPOSANTS NE SONT PAS SCOPÉS */
/* ATTENTION À BIEN UTILISER DES CLASSES ET DES ID PROPRES À CE COMPOSANT POUR NE PAS INTERFÉRER AVEC LES AUTRES STYLES DU SITE*/
#map {
  width: 100%;
  height: 35vw;
  border-radius: var(--border-radius-small);
}

.maplibregl-marker:hover {
  cursor: pointer !important;
  z-index: 1;
}

.marker {
  border-radius: var(--border-radius-normal);
  width: var(--image-marker-size); /* 48px */
  height: var(--image-marker-size); /* 48px */
}

.marker.show {
  z-index: 1;
}

.card-preview-link {
  width: 100%;
}

.card-preview {
  display: none;
}

.card-preview.show {
  position: relative;
  top: -4rem;
  left: 3rem;
  display: flex;
  width: var(--block-size-representative);
  justify-content: space-between;
  padding: var(--padding-block);
  border: var(--border) solid var(--color-grey-light);
  border-radius: var(--border-radius-normal);
  background-color: var(--color-white);
  transition: var(--transition);
}

.card-preview.show:hover {
  border-color: var(--color-green-light-1);
  background: var(--color-green-light-5);
}

.card-preview-image-wrapper {
  height: 10rem;
  width: 100%;
}

.card-preview-img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-small);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
}

.card-preview-title {
  margin-top: var(--margin-card-heading-top);
  margin-bottom: var(--margin-card-heading-bottom);
}

.card-preview-description {
  display: flex;
  color: var(--color-grey-dark);
  overflow: hidden;
  font-family: var(--font-family-text);
  font-size: var(--font-size-text-4);
  font-weight: var(--font-weight-regular);

  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 800px) {
  #map {
    height: 27rem;
  }
}
</style>
