<template>
  <a class="news-representative round-border" :href="url">
    <BlockImage
      :image="
        Array.isArray(content.headerimage)
          ? content.headerimage[0]
          : content.headerimage
      "
      variant="card"
    />
    <div class="news-infos">
      <div id="news-infos__text">
        <h5>{{ content.title }}</h5>
        <p class="news-infos--first" v-if="content.date">
          {{ content.enddate ? "Du " : ""
          }}{{ formatDate(content.date, "digital")
          }}{{
            content.enddate
              ? " au " + formatDate(content.enddate, "digital")
              : ""
          }}
        </p>
        <!-- <p class="news-infos--first" v-if="organizer">
          Organisateur(s) : {{ organizer }}
        </p> -->
        <div
          class="news-description no-margin font-size-4"
          v-if="content.description?.length > 0"
          v-html="content.description"
        ></div>
      </div>
      <ul id="tags" v-if="tags">
        <BlockTag v-for="tag in tags" :tag="tag" />
      </ul>
    </div>
  </a>
</template>

<script setup>
import BlockImage from "./blocks/BlockImage.vue";
import BlockTag from "./blocks/BlockTag.vue";
import { formatDate } from "../composables/date";
import { computed } from "vue";

function slugify(str) {
  str = str.replace(/^\s+|\s+$/g, "");

  // Make the string lowercase
  str = str.toLowerCase();

  // Remove accents, swap ñ for n, etc
  var from =
    "ÁÄÂÀÃÅČÇĆĎÉĚËÈÊẼĔȆÍÌÎÏŇÑÓÖÒÔÕØŘŔŠŤÚŮÜÙÛÝŸŽáäâàãåčçćďéěëèêẽĕȇíìîïňñóöòôõøðřŕšťúůüùûýÿžþÞĐđßÆa·/_,:;'";
  var to =
    "AAAAAACCCDEEEEEEEEIIIINNOOOOOORRSTUUUUUYYZaaaaaacccdeeeeeeeeiiiinnooooooorrstuuuuuyyzbBDdBAa-------";
  for (var i = 0, l = from.length; i < l; i++) {
    str = str.replace(new RegExp(from.charAt(i), "g"), to.charAt(i));
  }

  // Remove invalid chars
  str = str
    .replace(/[^a-z0-9 -]/g, "")
    // Collapse whitespace and replace by -
    .replace(/\s+/g, "-")
    // Collapse dashes
    .replace(/-+/g, "-");

  return str;
}

const { news } = defineProps({
  news: Object,
});

const content = news.content ? news.content : news;

if (content.headerimage?.length > 0) {
  content.headerimage[0].variant = "card";
}

const tags = content.hasOwnProperty("metadata")
  ? content.metadata?.categories
      ?.map((category) => {
        return category.value;
      })
      .filter(Boolean)
      .flat()
  : content.hasOwnProperty("labels")
  ? content.labels.split(",")
  : false;

const url = news.url ? news.url : "/ressources/agenda/" + slugify(news.title);

// const organizer = computed(() => {
//   if (
//     !content.metadata.fields.find(
//       (field) => field.label === "Organisateur(s)"
//     ) ||
//     content.metadata.fields.find((field) => field.label === "Organisateur(s)")
//       .length === 0
//   )
//     return false

//   const rawOrganizer = content.metadata.fields.find(
//     (field) => field.label === "Organisateur(s)"
//   ).value

//   const html = document.createElement("DIV")
//   html.innerHTML = rawOrganizer
//   return html.querySelector("p").textContent
// })
</script>

<style scoped>
.news-representative {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-white);
  transition: var(--transition);
}

.news-representative:hover {
  border-color: var(--color-green-light-1);
  background: var(--color-green-light-5);
}

/* infos */

.news-infos {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--padding-block);
}

#news-infos__text {
  height: 100%;
}

h5 {
  margin-top: var(--margin-card-heading-top);
  margin-bottom: var(--margin-card-heading-bottom);
}

.news-description {
  display: flex;
  color: var(--color-grey-dark);
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news-infos--first {
  font-size: var(--font-size-text-4);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-blue-dark-1);
  margin-top: var(--margin-block-representative-footer);
  margin-bottom: var(--margin-block-representative-footer);
}

#tags {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: var(--gap-tag);
  margin-top: var(--margin-block-representative-footer);
}

@media screen and (max-width: 800px) {
  .news-representative {
    margin-right: 0 !important;
    margin-bottom: var(--space-04);
  }
}
</style>
