<template>
  <section v-if="unexpiredNews.length > 0">
    <Divider level="section" title="actualités" />
    <div class="show-more-wrapper" v-if="unexpiredNews.length > 3">
      <button
        class="button tertiary large"
        @click="isShowMoreActive = !isShowMoreActive"
        :title="isShowMoreActive ? 'Voir moins' : 'Voir plus'"
      >
        <img
          :src="
            isShowMoreActive ? '/assets/svg/less.svg' : '/assets/svg/more.svg'
          "
          class="large"
          alt=""
        />
      </button>
    </div>
    <div class="news-wrapper">
      <template v-for="item in shownNews" :key="item.uuid">
        <div v-if="item.status !== 'draft'" class="news-item">
          <NewsRepresentative :news="item" />
        </div>
      </template>
    </div>
  </section>
</template>

<script setup>
import Divider from "./Divider.vue"
import NewsRepresentative from "./NewsRepresentative.vue"
import { isExpired } from "../composables/news"
import { computed, ref } from "vue"

const { news } = defineProps({
  news: Array,
})

const isShowMoreActive = ref(false)

const unexpiredNews = computed(() => {
  return news.filter((item) => !isExpired(item))
})

const shownNews = computed(() => {
  if (isShowMoreActive.value) {
    return unexpiredNews.value
  } else {
    return unexpiredNews.value.slice(0, 3)
  }
})
</script>

<style scoped>
.news-wrapper {
  margin: var(--margin-news-top) 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.show-more-wrapper {
  display: flex;
  justify-content: flex-end;
}

button::before {
  content: "Voir";
}

/* MOBILE & TABLET */

@media screen and (max-width: 800px) {
  .news-wrapper {
    display: block;
  }
}
</style>
