<template>
  <div class="radio" :class="{ open: isOpen }" ref="categoryWrapper">
    <button
      type="button"
      class="category large secondary round-border"
      @click="isOpen = !isOpen"
    >
      {{ block.content.level.length > 0 ? block.content.level : category.name }}
    </button>
    <hr v-if="isOpen" />
    <ul v-if="isOpen" class="tags">
      <li
        v-for="tag in category.tags"
        class="tag"
        :class="{ selected: isInSelection(tag) }"
        @click="toggleTag(tag)"
        @mouseenter="$event.target.classList.add('hovered')"
        @mouseleave="$event.target.classList.remove('hovered')"
      >
        {{ tag }}
      </li>
    </ul>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue"

const { category, block } = defineProps({
  category: String,
  block: Object,
})

const isOpen = ref(false)

const categoryWrapper = ref(null)

onMounted(() => {
  document.addEventListener("click", handleClickOutside)
})

function toggleTag(tag) {
  block.content.level = tag
  console.log(block.content.level)
  isOpen.value = false
}

function isInSelection(tag) {
  return block.content.level === tag
}

function handleClickOutside(event) {
  if (categoryWrapper.value && !categoryWrapper.value.contains(event.target)) {
    isOpen.value = false
  }
}
</script>

<style scoped>
.radio {
  z-index: 1;
  height: fit-content;
  margin-right: var(--font-size-text-3);
  overflow: hidden;
  transition: var(--transition);
  margin-top: 1rem;
}

.category {
  height: var(--button-size-large);
  font-size: var(--font-size-text-3);
  font-weight: var(--font-weight-bold);
  border-color: var(--color-grey-light);
}

.category:hover {
  border-color: var(--color-blue-dark-1);
}

.category::after {
  content: url("/assets/svg/dropdown.svg");
  display: flex;
  align-content: center;
}

.block.content.level-count {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--space-02);
  border-radius: var(--border-radius-large);
  background-color: var(--color-green-light-4);
  height: var(--button-icon-size-normal); /* 20px */
  width: var(--button-icon-size-normal); /* 20px */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-text-4);
  transition: var(--transition);
}

.open {
  height: var(--button-size-large);
  overflow: visible;
  z-index: 2;
}

.open .category {
  border-color: var(--color-blue-dark-1);
}

.radio.open .category::after {
  transform: scaleY(-1);
  transition: var(--transition);
}

hr {
  display: none;
  margin: 0;
  border-top: var(--border) solid var(--color-grey-light);
}

.tags {
  position: absolute;
  margin-top: var(--space-01);
  min-width: 200px;
  border: var(--border) solid var(--color-blue-dark-1);
  border-radius: var(--border-radius-normal);
  background-color: var(--color-white);
  overflow: hidden;
}

.tag {
  cursor: pointer;
  padding: var(--space-01) var(--padding-button-horizontal);
  font-size: var(--font-size-text-4);
  font-weight: var(--font-weight-bold);
  transition: var(--transition);
}
.tag:hover {
  background: var(--color-green-light-5) !important;
  transition: var(--transition);
}
.tag.selected {
  background: var(--color-green-light-4);
  transition: var(--transition);
  display: flex;
}
.tag.selected::after {
  content: url("/assets/svg/check.svg");
  display: flex;
  align-items: center;
  margin-left: var(--space-02);
  transition: var(--transition);
}
.tag.selected.hovered::after {
  content: url("/assets/svg/close.svg");
  transition: var(--transition);
}

@media screen and (max-width: 800px) {
  .category {
    width: 100%;
  }
  .tags {
    position: relative;
    z-index: 1;
  }
}
</style>
