<template>
  <section id="search-section">
    <div>
      <div class="button-wrapper">
        <input
          v-model="search"
          id="search-field"
          type="search"
          placeholder="Rechercher"
        />
        <img id="button-icon-after" src="/assets/svg/loop.svg" alt="" />
      </div>
      <div id="selected-filters"></div>
    </div>
    <button
      v-if="device === 'mobile'"
      id="open-filters"
      class="secondary"
      @click="isFiltersOpen = !isFiltersOpen"
    >
      Filtrer
      <img v-if="!isFiltersOpen" src="/assets/svg/settings.svg" alt="" />
      <img v-else src="/assets/svg/close.svg" alt="" />
    </button>
    <ul
      id="filters-options"
      :class="{ hidden: !isFiltersOpen && device === 'mobile' }"
    >
      <FilterButton v-for="category in categories" :category="category" />
      <li class="filters-reinit" v-if="isFiltersActive">
        <button class="reinit" @click="clearFilters">Réinitialiser</button>
      </li>
    </ul>
  </section>
</template>

<script setup>
import { search, categories } from "../composables/search"
import FilterButton from "./FilterButton.vue"
import { device } from "../composables/responsive"
import { computed, ref } from "vue"

const isFiltersOpen = ref(false)

function clearFilters() {
  categories.value.forEach((category) => {
    category.selection = []
  })
}

const isFiltersActive = computed(() => {
  return categories.value
    ? categories.value.some((category) => category.selection?.length > 0)
    : false
})
</script>

<style scoped>
#search-section {
  margin: 0 0 calc(var(--margin-search-section-vertical) / 2) 0;
}

#search-field {
  width: 30vw;
  border-radius: var(--border-radius-round);
}

#search-field:focus-visible,
#search-field:focus {
  width: 50vw;
}

#filters-options {
  display: flex;
  margin-top: var(--margin-filter-top);
  flex-wrap: wrap;
  row-gap: var(--font-size-text-3);
}

#filters-options .filters-reinit {
  display: flex;
  align-items: center;
}

#button-icon-after {
  width: var(--button-icon-size-large);
  height: var(--button-icon-size-large);
  position: relative;
  top: var(--border);
  background-color: var(--color-white);
  padding: calc(
    calc(calc(var(--button-size-large) - var(--button-icon-size-large)) / 2) -
      var(--border)
  );
  left: calc(0px - var(--button-size-large));
  border-radius: var(--border-radius-round);
}

/* MOBILE & TABLET */

@media screen and (max-width: 800px) {
  .button-wrapper {
    width: auto;
  }

  #search-field {
    width: 100%;
    flex-shrink: 0.5;
  }

  #search-field:focus-visible,
  #search-field:focus {
    width: 100%;
  }

  #open-filters {
    margin-top: 1rem;
    width: 100%;
  }

  #filters-options {
    display: block;
  }
}
</style>
