<template>
  <div class="representative" v-if="data">
    <div class="representative__buttons">
      <k-button
        tooltip="Éditer la page"
        icon="edit"
        target="_blank"
        :link="data.panelUrl"
      ></k-button>
      <k-button
        tooltip="Voir la page"
        icon="preview"
        target="_blank"
        :link="data.pageUrl"
      ></k-button>
    </div>
    <figure class="representative__image">
      <img
        v-if="data.content.headerimage && data.content.headerimage.length > 0"
        :src="data.content.headerimage[0].url"
        alt=""
      />
      <img
        v-if="
          data.content.representativeimage &&
          data.content.representativeimage.length > 0
        "
        :src="data.content.representativeimage[0].url"
        alt=""
      />
    </figure>
    <div class="representative__content">
      <h3 class="representative__title">
        {{ data.content.title }}
      </h3>
      <p
        class="content-text color-dark-grey representative__children"
        v-if="data.children.length > 0"
      >
        {{ data.children.length }} contenu
      </p>
      <div
        class="content-text color-dark-blue description"
        v-if="description.length > 0"
        v-html="description"
      ></div>
      <ul class="tags" v-if="data.content.inheritedmetadata?.categories">
        <button
          v-for="tag in data.content.inheritedmetadata.categories"
          class="tag"
        >
          {{ tag }}
        </button>
      </ul>
    </div>
  </div>
</template>

<script setup>
import { ref, watch, onBeforeMount, computed } from "vue";

const props = defineProps();

const data = ref(false);

onBeforeMount(() => {
  fetchRepresentative(props.content);
});

watch(
  props,
  (newProps) => {
    fetchRepresentative(newProps.content);
  },
  { deep: true }
);

const description = computed(() => {
  return data.value.content.description.slice(0, 300) + "...";
});

const categories = computed(() => {
  console.log(data.value.content);
  return categories;
});

function fetchRepresentative(fields) {
  if (!fields.representativetemplate) return;
  const template = fields.representativetemplate;
  if (!fields[`${template}representative`][0]) return;
  const pageId = fields[`${template}representative`][0].id;
  const pagePanelId = pageId.replaceAll("/", "+");
  const apiURL = `${panel.$urls.api}/pages/${pagePanelId}?select=content,children`;

  fetch(apiURL, {
    method: "GET",
    headers: {
      "X-CSRF": panel.$system.csrf,
    },
  })
    .then((res) => res.json())
    .then((json) => {
      console.log("fetchRepresentative :", json.data);
      data.value = json.data;
      data.value.panelUrl = `${panel.$urls.site}/panel/pages/${pagePanelId}`;
      data.value.pageUrl = `${panel.$urls.site}/${pageId}`;
    });
}
</script>

<style lang="scss">
.k-block-type-conditional-representative {
  display: flex;
  align-items: center;
}

.representative {
  position: relative;
  width: 100%;
  height: 23rem;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 2rem;
  margin-bottom: 0.5rem;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
}

.representative h3 {
  margin-top: 0;
}

.representative__buttons {
  position: absolute;
  right: 0;
}

.representative__buttons .k-button {
  margin-right: 0.5rem;
}

.representative__image {
  width: 40%;
  height: 100%;
  border-radius: 7px;
  overflow: hidden;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #fe1187 46%,
    #ffcc70 100%
  );
  margin-right: 2rem;
}

.representative__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.representative__content {
  width: 55%;
  height: 100%;
  overflow: hidden;
  padding: 1.5rem 8rem 0 1.5rem;
}

.representative__title {
  margin-bottom: 0.7rem;
}

.representative__children {
  margin-bottom: 0.7rem;
}

.description {
  max-height: 3rem;
}

.tags {
  position: absolute;
  bottom: 3rem;
}

.tag {
  display: flex;
  padding: 0.25rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1.25rem;
  margin-right: 0.5rem;
  background: var(--green-light-4, #d0f9ea);
  font-size: var(--font-size-4);
}
</style>
