<template>
  <div>
    <k-button
      :class="buttonState"
      variant="filled"
      :icon="buttonState"
      @click="refreshData"
      >{{ buttonMessage }}</k-button
    >
    <div class="k-field-help k-text" data-theme="help">
      <p>
        Synchronise les données du back-office et du front-end. Utile en cas de
        décalage back / front.
      </p>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";

const buttonState = ref("refresh");
const buttonMessage = ref("Mettre à jour les données");

function refreshData() {
  buttonState.value = "loader";
  buttonMessage.value = "En cours…";

  fetch("/refresh-data.json")
    .then((res) => {
      return res.json();
    })
    .then((json) => {
      buttonState.value = "check";
      buttonMessage.value = "Terminé";
      console.log(json);
    })
    .catch((json) => {
      buttonState.value = "alert";
      console.log(json);
    });
}
</script>

<style>
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.k-section-name-refreshData .k-button {
  background-color: var(--color-gray-300);
  padding: var(--spacing-3);
  border-radius: var(--rounded-md);
  transition: background-color 0.2s ease-in-out;
}

.k-section-name-refreshData .k-button:hover {
  background-color: var(--color-gray-400);
}

.k-section-name-refreshData .k-icon-loader {
  animation: rotate 2s linear infinite;
}

.k-button.check {
  background-color: var(--color-green-300);
}
</style>
