<template>
  <div class="k-column">
    <k-button
      text="modifier les propriétés du répertoire parent"
      icon="cog"
      tooltip="aller aux propriétés du répertoire parent"
      :link="url"
    />
  </div>
</template>

<script setup>
const { url } = defineProps({
  url: String,
});

console.log(url);
</script>

<style>
/** Put your CSS here **/
</style>
