<template>
  <Header :nav="nav" :page="page" />
  <template v-if="isNotAllowed">
    <h4 id="not-allowed-message">Page réservée aux coopérateurs connectés.</h4>
    <a class="button primary" href="/panel">Se connecter</a>
    <a id="return-home" class="button secondary" href="/"
      >Retourner à l'accueil</a
    >
  </template>
  <component
    v-else
    :is="templateComponent"
    :content="content"
    :subpages="subpages"
  />
  <Footer />
</template>

<script setup>
import Header from "./components/Header.vue"
import Footer from "./components/Footer.vue"
import Free from "./views/Free.vue"
import Projects from "./views/Projects.vue"
import ProjectsGroup from "./views/ProjectsGroup.vue"
import Project from "./views/Project.vue"
import Home from "./views/Home.vue"
import Repository from "./views/Repository.vue"
import Card from "./views/Card.vue"
import SeasonalCalendar from "./views/SeasonalCalendar.vue"
import { register } from "swiper/element/bundle"

register()

const content = kirby.content
const page = kirby.page
const isNotAllowed = page.uri.includes("cooperateurs") && !user
const subpages = kirby.subpages
const nav = kirby.nav

const templateComponents = {
  Free,
  Projects,
  "Projects-group": ProjectsGroup,
  Project,
  Home,
  Repository,
  Card,
  News: Card,
  "Seasonal-calendar": SeasonalCalendar,
}

const templateComponent = templateComponents[kirby.template] || Free
</script>

<style scoped>
#app {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

#not-allowed-message {
  margin-bottom: 2rem;
}

#return-home {
  margin-top: 1rem;
}
</style>
